<% include ../partials/header %>

<div react-entrypoint class="panel-body" id="LogReportsDiv">
  <%-reportsReact%>
</div>
<br />
<script
  type="text/javascript"
  src="<%-getVersionedPath('/dist_webpack/reportLog.bundle.js')%>"
></script>
<% include ../partials/footer %>
