	<script type="text/javascript" src="/libraries/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="/libraries/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/scripts/index.js"></script>
</body>
</html>