<!DOCTYPE html>
<html>
<head>
	<title>My Resistance</title>

	<link rel="stylesheet" type="text/css" href="/libraries/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">

</head>
<body>

	<nav class="navbar navbar-default container-fullwidth ">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><img id="brand" alt="Brand" src="logo.png"></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home </a></li>

					<li><a href="#">Rules</a></li>

					<li><a href="#">Forums</a></li>

					<li><a href="#">News</a></li>

					
				</ul>
				

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">About</a></li>

					<li><a href="#">Contact us</a></li>

				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>