<!DOCTYPE html>
<html>
<head>
	<title>My Resistance</title>

	<link rel="stylesheet" type="text/css" href="/libraries/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">

	<script type="text/javascript" src="/libraries/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="/libraries/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<!-- Sweet alert! -->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1" /> 

</head>
<body>

	<style>
		.fontButton{
			width: 30px;
			height: 30px;
			border: 1px solid black;
		}
	</style>


	<nav class="navbar navbar-default container-fullwidth ">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><img id="brand" alt="Brand" src="../../../../pictures/logo.png"></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">

					<% if(headerActive){%>

					<% if(headerActive === "lobby"){ %>
					<li class="active"><a href="/lobby">Lobby</a></li>
					<%} %>
					<% if(headerActive !== "lobby"){ %>
					<li><a href="/lobby">Lobby</a></li>
					<% } %>

					<% if(headerActive === "rules"){ %>
					<li class="active"><a href="/rules">Rules</a></li>
					<%} %>
					<% if(headerActive !== "rules"){ %>
					<li><a href="/rules">Rules</a></li>
					<% } %>

					<% if(headerActive === "forums"){ %>
					<li class="active"><a href="/forum">Forums</a></li>
					<%} %>
					<% if(headerActive !== "forums"){ %>
					<li><a href="/forum">Forums</a></li>
					<% } %>

					<% if(headerActive === "log"){ %>
					<li class="active"><a href="/log">Change log</a></li>
					<%} %>
					<% if(headerActive !== "log"){ %>
					<li><a href="/log">Change Log</a></li>
					<% } %>

					<%}%>

					<!-- <li><a href="#">News</a></li> -->
				</ul>


				<ul class="nav navbar-nav navbar-right">
					<!-- <li><a href="#">About</a></li> -->

					<!-- <li><a href="#">Contact us</a></li> -->

					<% if(currentUser){%>
					<li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<span class="glyphicon glyphicon-cog"></span>
								<span class="caret"></span>
							</a> 


							<ul class="dropdown-menu" style="">
								<li>
									<input type="checkbox" name="option_print_gameplay_text" id="option_print_gameplay_text" checked>
									<label for="option_print_gameplay_text">Print gameplay text</label>	
								</li>
								
								<!-- <li>
									<input type="checkbox" name="option_highlight_player_chat" id="option_highlight_player_chat" checked>
									<label for="option_highlight_player_chat">Highlight player chat (inop.)</label>
								</li>

								<li>
									<input type="checkbox" name="option_highlight_player_avatar" id="option_highlight_player_avatar" checked>
									<label for="option_highlight_player_avatar">Highlight player avatar (inop.)</label>
								</li> -->
								<li>
									<input type="checkbox" name="option_font_size" id="option_font_size" checked>
									<label for="option_font_size">Font size: </label>
									<!--<span class="fontButton"> - </span>-->
									<input type="text" name="option_font_size_text" id="option_font_size_text" style="width: 3em;">
									<!--<span class="fontButton"> + </span>-->

								</li>

								<li>
									<input type="checkbox" name="option_avatar_container_height" id="option_avatar_container_height" checked>
									<label for="option_avatar_container_height">Height of avatar area: </label>
									<input type="text" name="option_avatar_container_height_text" id="option_avatar_container_height_text" style="width: 3em;">
								</li>

								<li>
									<input type="checkbox" name="option_dark_theme" id="option_dark_theme">
									<label for="option_dark_theme">Dark theme</label>
								</li>
								
							</ul>
						</li>
					</li>
					<!-- <li><a href="#">Hi there, <%=currentUser.username%></a></li> -->
					<p class="navbar-text" id="originalUsername"><%=currentUser.username%></p>

					<li><a href="/logout">Log out</a></li>
					<%}%>

				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div class="container">


		<!-- MY NOTIFICATION REQUESTS - does NOT need to reload -->
		<a id="danger-alert-box-button" class="inactive-window">
			<div class="alert alert-danger inactive-window" id="danger-alert-box">
			</div>	
		</a>

		<a id="success-alert-box-button" class="inactive-window">
			<div class="alert alert-success inactive-window" id="success-alert-box">
			</div>	
		</a>


		<!-- FLASH NOTIFICATION REQUESTS - does need to reload -->
		<% if(error && error.length > 0){ %>
		<div class="alert alert-danger" role="alert">
			<%= error%>
		</div>
		<%}%>

		<% if(success && success.length > 0){ %>
		<div class="alert alert-success" role="alert">
			<%= success%>
		</div>
		<%}%>

	</div>

	<style type="text/css">
	.inactive-window{
		display: none;
	}

	div ul li a {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}

</style>

<script type="text/javascript">

	// $(".nav a").on("click", function(){
	// 	$(".nav").find(".active").removeClass("active");

	// });

	// $(this).parent().addClass("active");


</script>