*
!packages/backend/*
!packages/frontend/*
!packages/proto/*
packages/backend/node_modules/
packages/frontend/node_modules/
packages/proto/node_modules/
!./**/package-lock.json
!./**/package.json
!lerna.json
