# Can be "local", "staging" or "prod".
ENV=local

# Used for encryption.
MY_SECRET_KEY=AnythingThatYouWant

# Ensure authSource=admin is included.
DATABASEURL=mongodb://root:password@localhost:27017/proavalon?authSource=admin

SERVER_DOMAIN=127.0.0.1

patreon_client_ID=<INSERT IF NEEDED>
patreon_client_secret=<INSERT IF NEEDED>
patreon_creator_access_token=<INSERT IF NEEDED>
patreon_creator_refresh_token=<INSERT IF NEEDED>
patreon_redirectURL=<INSERT IF NEEDED>

MAILGUN_API_KEY=<INSERT IF NEEDED>
PROAVALON_EMAIL_ADDRESS=<INSERT IF NEEDED>
PROAVALON_EMAIL_ADDRESS_DOMAIN=<INSERT IF NEEDED>

discord_bot_token=<INSERT IF NEEDED>
discord_admin_channel_id=<INSERT IF NEEDED>
discord_admin_role_id=<INSERT IF NEEDED>
discord_mod_channel_id=<INSERT IF NEEDED>
discord_mod_role_id=<INSERT IF NEEDED>

# Comma separated usernames in lowercase
WHITELISTED_VPN_USERNAMES=