assets/gameRecordsData/
assets/dist_webpack/

!assets/gameRecordsData/gameRecordsDataAnon.json
!assets/gameRecordsData/fix_json.py

coverage/

docker-compose-data/

.env

node_modules/
!node_modules/passport-local-mongoose/

out/
