# Use root/example as user/password credentials
version: '3.3'

services:
  mongo:
    image: mongo
    volumes:
      - ./docker-compose-data/mongodb:/data/db
    restart: always
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password

  # When logging onto the webpage, username is `admin` and password is `pass`.
  mongo-express:
    image: mongo-express
    depends_on:
      - mongo
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://root:password@mongo:27017/
