.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.avatarImg {
    width: 128px;
    height: 128px;
    margin-left: 10px;
    display: inline-block;
}

.avatarSet {
    padding-top: 2em;
    padding-bottom: 2em;
}

.alignCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Below is the carousel container*/
.react-multi-carousel-list {
}

.react-multi-carousel-item div:hover {
    transform: scale(1.05);
    background-color: #e0e0e0;
}

.react-multi-carousel-item .avatarSet {
    padding: 2em;
    cursor: pointer;
    display: block;
    text-align: center;
}

.react-multi-carousel-item .avatarImg {
    margin: 10px;
}

.giphy-embed {
    max-width: 100%;
    pointer-events: none;
}
