<% include partials/header%>



<style>

    img {
         float: left; 
    }

    #mainBodyContent {
        width: 75%;

        background-color: rgb(245, 245, 245);
        border-radius: 10px;
        padding: 10px;

    }

    .dark #mainBodyContent {
        background-color: #444444;
        border: 1px solid black;
    }


    #myAvatar {
        /*
        position: relative;
        z-index: -1;
        top:0%;
        left: 0%;

        opacity: 0.5;
        filter: alpha(opacity=50); */   /* For IE8 and earlier */ 
    }


    /*div::after {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;   
        width: 100%;
        height: 100%;
        background-image: url("/avatars/pronub-res.png");
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.10;
        top: 50%;
        left: 50%;
        bottom: 0;
        right: 0;

        transform: translate(-50%, -50%);
    }*/

    p {
        font-size: 18px;
    }

</style>












<div class="container" id="mainBodyContent">
    <h1>About myself and this site</h1>

    <br>
    <img id="myAvatar" src="/avatars/pronub-res.png" class="">
    

    <p>
        My name is Victor (ProNub), you may call me either :). I am a university student studying Engineering, Physics and Computer Science. 
    </p>

    <p>
        This site is a platform to play The Resistance on. 
        This site was written from scratch, however heavily based on cashto's original design to keep a similar interface for familiar users. 
    </p>
    
    <p>
        I started making this site with the main goal for me to learn web development and enhance my programming skills. 
        It was a good excuse for me to learn cool things like HTML, CSS, JS and NodeJs. 
    </p>

    <p>
        If you are interested in the security of this site and a mini-lecture from 
        me to protect yourselves online, take a look <a href="/security">here</a>. 
    </p>

    <p>
        You may contact me by email at admin@proavalon.com, or through discord. Feel free to throw me a direct message or ping me on the discord server. My discord username and tag is pkvk9122 #6596. 
    </p>

    <p>
        I would also like to acknowledge the tremendous help of Ref-rain and Hakha3 who both have tirelessly provided me with feedback
        from the very start of this site, all the way till release and beyond. Without the help of these two, this site would not be possible. Thank you guys :).
    </p>

    <br>

    <p>
        If you would like to check out the code, hop onto the Github repository here:<br><a href="https://github.com/vck3000/ProAvalon">https://github.com/vck3000/ProAvalon</a>
    </p>

    <p>
        Now go play a game!
    </p>

    <br>
    <br>

    <p> 
     -Victor (ProNub) 16/07/2018
    </p>


</div>

<% include partials/footer%>