<% include partials/header%>



<style>

    

</style>












<div class="container">
    <h1>About myself and this site</h1>

    <p>
        My name is Victor (ProNub), you may call me either :). I am a university student studying Engineering, Physics and Computer Science. 
    </p>

    <p>
        This site is a platform to play The Resistance on. 
        There have been a few previous versions based off cashto's original code.
        This site was re-written from scratch, however heavily based on cashto's original design to keep a similar interface for familiar users. 
    </p>
    
    <p>
        I initially started making this site with the main goal for me to learn web development and enhance my programming skills. 
        However, soon that goal changed.
    </p>

    <p>
        As the old site has not seen any new updates in a long time, the new goal for this site was to improve the quality
        of the game platform and to allow for growth of the community. I believe that the previous admin did a fantastic job 
        up until now, but in my opinion his/her absence has stunted the growth of this game and possible improvements to the site. 
        I don't blame them at all however, it is no easy task to maintain a site by yourself. 
    </p>

    <p> 
        I have been playing for a while (since 2015), but definitely not as long as others. 
        I hope my decently long presence within the community is enough assurance that I will do my best to maintain this site.
    </p>

    <p>
        If people prefer the old site and this site ends up being a complete fall through, I do not mind. 
        I am happy I have gotten to this stage, and I definitely enjoyed learning all the technologies needed to make this site.
    </p>

    <p>
        I plan on keeping this site as transparent as possible.
        I believe everyone playing this game is decently smart and collectively can make good decisions.

        For future feature requests, I hope everyone will utilise the forums and suggestions category to discuss
        and talk about improvements/changes to enhance the game. I prefer to cater to the majority and hope I will
        never have to do something against the majority. 
        
    </p>

    <p>
        I do lead a busy life with university and other commitments, therefore I do plan on assigning a few trustworthy
        moderators to join me in my task of maintaining this site. Of course, transparency is of utmost importance again,
        and when I do announce the recruitment of moderators, there will definitely be nominations and voting. 
        I hope everyone can be happy, but obviously that is not always the case. 
    </p>

    <p>
        Thank you for reading up to here. If you are interested in the security of this site and a mini-lecture from 
        me to protect yourselves online, take a look <a href="/security">here :)</a> 
    </p>

    <p>
        Now go play a game!
    </p>

    <br>

    <p> 
     -Victor (ProNub)
    </p>


    <br>
    <br>
    <br>
</div>

<% include partials/footer%>