<!DOCTYPE html>
<html>
<head>
	<title>My Resistance</title>
	<meta name="viewport" content="width=device-width, intial-scale=1" />
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" type="text/css" href="index.css">

</head>
<body>

	<nav class="navbar navbar-default container-fullwidth ">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img id="brand" alt="Brand" src="assets/logo.png"></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home </a></li>

					<li><a href="#">Rules</a></li>

					<li><a href="#">Forums</a></li>

					<li><a href="#">News</a></li>

					
				</ul>
				

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">About</a></li>

					<li><a href="#">Contact us</a></li>

				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>


	<div id="container">
		<div id="scrollDiv">
			<form id="form">
				<h3 id="loginHeading">Log in!</h3>
				<div class="form-group">
					<label for="username">Username: </label>
					<input type="username" class="form-control" id="username" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="password">Password: </label>
					<input type="password" class="form-control" id="password" placeholder="Password">
				</div>
				<button type="submit" class="btn btn-default">Log in!</button>

				<button id="signUpButton" class="btn btn-default">Sign up!</button>
			</form>
		</div>
	</div>



	<script type="text/javascript" src="jquery-3.2.1.js"></script>
	<script type="text/javascript" src="bootstrap.js"></script>
	<script type="text/javascript" src="index.js"></script>
</body>
</html>