<% include partials/header%>

<script src="/socket.io/socket.io.js"></script>

<link rel="stylesheet" type="text/css" href="/stylesheets/lobby.css">



<div class="container lobby-container">
	<div class="row">
		<div class="col-xs-6" id="col1">
			<p>All chat!</p>
			<div id="chat-window">
				<ol id="chat-list">
					<li><div class="other-chat">
						Hey how are you? :D
					</div></li>

					<li><div class="self-chat">
						I'm good :)
					</div></li>
				</ol>
			</div>
			<input type="text" name="chat-message" id="chat-message-input">
		</div>

		<div class="col-xs-6">
			Hi there, <%=currentUser.username%>!

			<br>
			<h3>Games:</h3>

			<a id="testLink" class="btn btn-default" href="#">PRESS ME FOR NEW ROOM</a>

			<ul id="current-games-list">
				<li>Game room 1</li>
			</ul>
			
			<br>
			<h3>Online players:</h3>
			<ul id="current-players-list">
				
			</ul>
		</div>
	</div>
</div>



<div class="game-container inactive-window container">
	<button id="backButton">HIT ME! >:)</button>
	
	<div class="room-container">
		<div id="mainRoomBox" class="">
			<p></p>
			<p></p>
			<p></p>
			<p></p>
		</div>	
	</div>
	
	

	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#home">Home</a></li>
		<li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
		<li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
	</ul>

	<div class="tab-content">
		<div id="home" class="tab-pane fade in active">
			<h3>HOME</h3>
			<p>Some content.</p>
		</div>
		<div id="menu1" class="tab-pane fade">
			<h3>Menu 1</h3>
			<p>Some content in menu 1.</p>
		</div>
		<div id="menu2" class="tab-pane fade">
			<h3>Menu 2</h3>
			<p>Some content in menu 2.</p>
		</div>
	</div>


</div>

<script type="text/javascript" src="scripts/lobby.js"></script>

<% include partials/footer%>