<% include partials/header%>

<script src="/socket.io/socket.io.js"></script>
<script src="/libraries/cookies_min.js"></script>
<script src="/libraries/jscolor.js"></script>

<link rel="stylesheet" type="text/css" href="/stylesheets/lobby.css">
<link rel="stylesheet" type="text/css" href="/libraries/jquery-ui-1.12.1/jquery-ui.min.css">





<!-- <div class="container lobby-container"> -->
	<div class="container lobby-container">
		<div class="row">
			<div class="col-xs-6 col-sm-9" id="col1">
				<strong><p id="all-chat-lobby-text">All Chat</p></strong>
				<div class="chat-window" id="all-chat-lobby">
					<ol class="chat-list all-chat-list" id="all-chat-lobby-list">

					</ol>
				</div>
				<p id="all-chat-lobby-bar" class="hidden chat-bar"></p>

				<input type="text" class="chat-message-input all-chat-message-input">
			</div>

			<div class="col-xs-6 col-sm-3" id="col2">
				<!-- <br> -->
				<strong><p>Games:</p></strong>

				<a id="newRoom" class="btn btn-default" href="#">New Room</a>

				<br>
				<br>

				<table id="current-games-table" class="table table-bordered table-striped lobby-table">	
					<tbody>

					</tbody>
				</table>

				<br>
				<strong><p>Online players:</p></strong>

				<table id="current-players-table" class="table table-bordered table-striped lobby-table">	
					<tbody>

					</tbody>
				</table>
			</div>
		</div>
	</div>



	<div class="game-container inactive-window "> <!-- container -->
		<div id="div1Resize">
			<div class="room-container">
				<button id="backButton" class="btn btn-warning">Back</button>

				<button id="claimButton" class="btn btn-primary">Claim</button>


				<div id="mainRoomBox" class="">
					<p></p>
				</div>
				<div id="missionsBox" class="invisible">
					<div class="row">
						<div class="missionBox"></div>
						<div class="missionBox"></div>
						<div class="missionBox"></div>
						<div class="missionBox"></div>
						<div class="missionBox"></div>
					</div>

					<div class="row">
						<div class="pickBox"></div>
						<div class="pickBox"></div>
						<div class="pickBox"></div>
						<div class="pickBox"></div>
						<div class="pickBox"></div>
					</div>
				</div>

				<span class='gun gunBefore'><img src='pictures/gun.png'></span>
				<span class='gun gunBefore'><img src='pictures/gun.png'></span>
				<span class='gun gunBefore'><img src='pictures/gun.png'></span>
				<span class='gun gunBefore'><img src='pictures/gun.png'></span>
				<span class='gun gunBefore'><img src='pictures/gun.png'></span>
			</div>
		</div>
		<div id="div2Resize">
			

		<div class="myHr"></div>
			


			<div id="statusBarWell" class="center-div well well-sm">
				<span id="status" style="    line-height: 35px;">Waiting for game to start... :P</span>

				<span class="game-buttons-div" style="white-space:nowrap;">

					<button class="btn btn-success" id="green-button">Start!</button>

					<!-- Trigger the modal with a button -->
					<button type="button" class="btn btn-default hidden" data-toggle="modal" data-target="#roleOptionsModal" id="options-button">
						<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
					</button>

					<button class="btn btn-danger" id="red-button"> <span class="glyphicon glyphicon-remove"></span></button>
				</span>

			</div>

			
			<div id="tabContainerBig">
				<div id="tabs1" class="">
					<ul class="nav nav-tabs">
						<li id="all-chat-in-game-tab"><a data-toggle="tab" href="#all-chat-in-game">All Chat</a></li>
						<li class="active" id="room-chat-in-game-tab"><a data-toggle="tab" href="#room-chat-in-game">Game Chat</a></li>
						<li><a data-toggle="tab" href="#vh">Vote History</a></li>
						<li><a data-toggle="tab" href="#misc">Misc.</a></li>
					</ul>

					<div class="tab-content" style=''>
						<div id="all-chat-in-game" class="tab-pane fade full-height">
							<div class="chat-window" id="all-chat-room">
								<ol class="chat-list all-chat-list" id="all-chat-room-list">

								</ol>
							</div>
							<p id="all-chat-room-bar" class="hidden chat-bar"></p>

							<input type="text" class="chat-message-input all-chat-message-input">
						</div>


						<div id="room-chat-in-game" class="tab-pane fade in active full-height">
							<div class="chat-window" id="room-chat-room">
								<ol class="chat-list room-chat-list" id="room-chat-room-list">

								</ol>
							</div>

							<p id="room-chat-room-bar" class="hidden chat-bar"></p>
							<input type="text" class="room-chat-message-input chat-message-input">

						</div>

						<div id="vh" class="tab-pane fade in full-height">
							<div class="tab-window-full-bottom">
								<!-- <h3><u>Vote History</u></h3> -->
								<table>
									<tbody id="voteHistoryTable" class="voteHistoryTableClass">

									</tbody>
								</table>
								<br>
								<ul>
									<table>
										<tbody id="voteHistoryTable">
											<tr><td class="VHleader"></td><td>Leader</td></tr>
											<tr><td><i class="glyphicon glyphicon-ok glyphicon-dark-white"></i></td><td>On mission team</td></tr>
											<tr><td><i class="glyphicon glyphicon-question-sign glyphicon-dark-white"></i></td><td>Investigator</td></tr>
											<tr><td><i class="glyphicon glyphicon-wrench glyphicon-dark-white"></i></td><td>Excalibur</td></tr>
											<tr><td><i class="glyphicon glyphicon-resize-horizontal glyphicon-dark-white"></i></td><td>Excalibured</td></tr>
											<tr><td class="VHapprove"></td><td>Approved vote</td></tr>
											<tr><td class="VHreject"></td><td>Rejected vote</td></tr>
										</tbody>
									</table>
								</ul>
							</div>
						</div>

						<div id="misc" class="tab-pane fade in full-height">
							<div class="tab-window-full-bottom">

								<label>Mute spectators <input type="checkbox" class="muteSpecs"></label>
							
								<br>
								<br>
							
								<button id="playerHighlightColourButton">Click to change highlight colour</button>
								<script>
									$("#playerHighlightColourButton").on("click", function(){
										$("#playerHighlightColourBoxes").toggleClass("hidden");
									});
								</script>
								
								<span id="playerHighlightColourBoxes" class="hidden">
									<h5>0 starts at the top, and increases anti-clockwise.</h5>

									Player 0: <button id="player0HighlightColour" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'0'}" style="width:20px; height:20px;"></button>
									<br>
									Player 1: <button id="player1HighlightColour" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'1'}" style="width:20px; height:20px;"></button>
									<br>
									Player 2: <button id="player2HighlightColour" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'2'}" style="width:20px; height:20px;"></button>
									<br>
									Player 3: <button id="player3HighlightColour" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'3'}" style="width:20px; height:20px;"></button>
									<br>
									Player 4: <button id="player4HighlightColour" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'4'}" style="width:20px; height:20px;"></button>
									<br>
									Player 5: <button id="player5HighlightColour" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'5'}" style="width:20px; height:20px;"></button>
									<br>
									Player 6: <button id="player6HighlightColour" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'6'}" style="width:20px; height:20px;"></button>
									<br>
									Player 7: <button id="player7HighlightColour" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'7'}" style="width:20px; height:20px;"></button>
									<br>
									Player 8: <button id="player8HighlightColour" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'8'}" style="width:20px; height:20px;"></button>
									<br>
									Player 9: <button id="player9HighlightColour" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'9'}" style="width:20px; height:20px;"></button>
								</span>
								<br>
								<br>
								
								<br>
								
								<strong><p>Spectators:</p></strong>

								<table id="spectators-table" class="table table-bordered table-striped lobby-table">	
									<tbody>

									</tbody>
								</table>

								<strong><p>Online players:</p></strong>
								<table id="current-players-table" class="table table-bordered table-striped lobby-table">	
									<tbody>

									</tbody>
								</table>
							
							</div>

						</div>
						
					</div>
				</div>



				<div id="tabs2" class="col-xs-6 displayNoneClass">
					<ul class="nav nav-tabs">
						<li id="all-chat-in-game-tab"><a data-toggle="tab" href="#all-chat-in-game2">All Chat</a></li>
						<li id="room-chat-in-game-tab"><a data-toggle="tab" href="#room-chat-in-game2">Game Chat</a></li>
						<li><a data-toggle="tab" href="#vh2">Vote History</a></li>
						<li class="active"><a data-toggle="tab" href="#misc2">Misc.</a></li>
					</ul>

					<div class="tab-content" style=''>
						<div id="all-chat-in-game2" class="tab-pane fade full-height">
							<div class="chat-window" id="all-chat-room2">
								<ol class="chat-list all-chat-list" id="all-chat-room2-list">

								</ol>
							</div>
							<p id="all-chat-room2-bar" class="hidden chat-bar"></p>

							<input type="text" class="chat-message-input all-chat-message-input">
						</div>


						<div id="room-chat-in-game2" class="tab-pane fade in full-height">
							<div class="chat-window" id="room-chat-room2">
								<ol class="chat-list room-chat-list" id="room-chat-room2-list">

								</ol>
							</div>

							<p id="room-chat-room2-bar" class="hidden chat-bar"></p>
							<input type="text" class="room-chat-message-input chat-message-input">

						</div>

						<div id="vh2" class="tab-pane fade in full-height">
							<div class="tab-window-full-bottom">
								<!-- <h3><u>Vote History</u></h3> -->
								<table>
									<tbody id="voteHistoryTable" class="voteHistoryTableClass">

									</tbody>
								</table>
								<br>
								<ul>
									<table>
										<tbody id="voteHistoryTable">
											<tr><td class="VHleader"></td><td>Leader</td></tr>
											<tr><td><i class="glyphicon glyphicon-ok glyphicon-dark-white"></i></td><td>On mission team</td></tr>
											<tr><td><i class="glyphicon glyphicon-question-sign glyphicon-dark-white"></i></td><td>Investigator</td></tr>
											<tr><td><i class="glyphicon glyphicon-wrench glyphicon-dark-white"></i></td><td>Excalibur</td></tr>
											<tr><td><i class="glyphicon glyphicon-resize-horizontal glyphicon-dark-white"></i></td><td>Excalibured</td></tr>
											<tr><td class="VHapprove"></td><td>Approved vote</td></tr>
											<tr><td class="VHreject"></td><td>Rejected vote</td></tr>
										</tbody>
									</table>
								</ul>
							</div>
						</div>

						<div id="misc2" class="tab-pane fade in full-height active">
							<div class="tab-window-full-bottom">

									<label>Mute spectators <input type="checkbox" class="muteSpecs"></label>
							
								<br>
								<br>
							
								<button id="playerHighlightColourButton2" class="">Click to change highlight colour</button>
								<script>
									$("#playerHighlightColourButton2").on("click", function(){
										$("#playerHighlightColourBoxes2").toggleClass("hidden");
									});
								</script>
								
								<span id="playerHighlightColourBoxes2" class="hidden">
									<h5>0 starts at the top, and increases anti-clockwise.</h5>

									Player 0: <button id="player0HighlightColour2" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'0'}" style="width:20px; height:20px;"></button>
									<br>
									Player 1: <button id="player1HighlightColour2" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'1'}" style="width:20px; height:20px;"></button>
									<br>
									Player 2: <button id="player2HighlightColour2" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'2'}" style="width:20px; height:20px;"></button>
									<br>
									Player 3: <button id="player3HighlightColour2" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'3'}" style="width:20px; height:20px;"></button>
									<br>
									Player 4: <button id="player4HighlightColour2" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'4'}" style="width:20px; height:20px;"></button>
									<br>
									Player 5: <button id="player5HighlightColour2" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'5'}" style="width:20px; height:20px;"></button>
									<br>
									Player 6: <button id="player6HighlightColour2" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'6'}" style="width:20px; height:20px;"></button>
									<br>
									Player 7: <button id="player7HighlightColour2" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'7'}" style="width:20px; height:20px;"></button>
									<br>
									Player 8: <button id="player8HighlightColour2" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'8'}" style="width:20px; height:20px;"></button>
									<br>
									Player 9: <button id="player9HighlightColour2" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'9'}" style="width:20px; height:20px;"></button>
								</span>
								<br>
								<br>
								<br>
								
								<strong><p>Spectators:</p></strong>

								<table id="spectators-table" class="table table-bordered table-striped lobby-table">	
									<tbody>

									</tbody>
								</table>

								<strong><p>Online players:</p></strong>
								<table id="current-players-table" class="table table-bordered table-striped lobby-table">	
									<tbody>

									</tbody>
								</table>
							
							</div>

						</div>


					</div>
				</div>



			</div>
		</div>

	</div>



	<!-- Modal for game options-->
	<div id="roleOptionsModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h2 class="modal-title">Game options!</h2>
				</div>
				<div class="modal-body">
					<h4>Select the roles/items you would like in the game.</h4>
					<h6>Default roles have been pre-selected.</h6>


					<div class="btn-group-vertical" data-toggle="buttons">
						<label class="btn btn-mine active">
							<input name="merlinassassin" id="merlinassassin" type="checkbox" autocomplete="off" checked> Merlin + Assassin
						</label>
						<br>
						<label class="btn btn-mine active">
							<input name="percival" id="percival" type="checkbox" autocomplete="off" checked> Percival
						</label>
						<br>
						<label class="btn btn-mine active">
							<input name="morgana" id="morgana" type="checkbox" autocomplete="off" checked> Morgana
						</label>
						<br>
						<label class="btn btn-mine">
							<input name="lady" id="lady" type="checkbox" autocomplete="off"> Lady of the Lake
						</label>
						<br>
						<label class="btn btn-mine">
							<input name="mordred" id="mordred" type="checkbox" autocomplete="off"> Mordred
						</label>
						<br>
						<label class="btn btn-mine">
							<input name="oberon" id="oberon" type="checkbox" autocomplete="off"> Oberon
						</label>
					</div>


				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>



	<!-- Modal for kicking players-->
	<div id="kickModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h2 class="modal-title">Kick players</h2>
				</div>
				<div class="modal-body" id="kickModalContent">

					

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal" id="kickButton">Kick</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>




	<!-- Modal for Moderators-->
	<div id="modModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h2 class="modal-title" style="color: red; font-weight: 700;">Moderator menu. May your judgement bring peace!</h2>
				</div>
				
				<div style="width: 75%; margin: auto;">
				<br>

					<iframe name="frame" style="display: none;"></iframe>
					<form action="/modAction" method="POST" target="frame" id="modactionform">
						<div class="form-group">
							<label for="banPlayerUsername">Username of player to modAction against: <h6 style="display: inline">(It is case sensitive, please be careful! Best to copy paste their username)</h6></label>
							<input name="banPlayerUsername" type="text" class="form-control" id="banPlayerUsername" placeholder="Username of player to modAction against.">
						</div>

						<div class="form-group">
							<label for="typeofmodaction">Type of modAction to do: </label>
							<br>
							<select name="typeofmodaction" class="form-control" id="typeofmodaction">
								<option selected>Please select an option</option>
								<option value="mute">Mute</option>
								<option value="ban">Ban</option>
							</select>
						</div>

						<div class="form-group">
							<label for="reasonofmodaction">Reason: </label>
							<br>
							<select name="reasonofmodaction" class="form-control" id="typeofmodaction">
								<option selected>Please select an option</option>
								<option value="abusive">Abusive</option>
								<option value="griefing">Intentional throwing/griefing</option>
								<option value="afk">Inactivity (AFK)</option>
								<option value="spam">Spam</option>
								<option value="cheating">Cheating (multiaccounting or talking outside of game)</option>
							</select>
						</div>

						<div class="form-group">
							<label for="durationofmodaction">Duration: </label>
							<br>
							<select name="durationofmodaction" class="form-control" id="durationofmodaction">
								<option selected>Please select an option</option>
								<option value="0">30 min</option>	
								<option value="1">3 hrs</option>
								<option value="2">1 day</option>
								<option value="3">3 days</option>
								<option value="4">7 days</option>
								<option value="5">1 month</option>
							</select>
						</div>			

						<div class="form-group">
							<label for="descriptionByMod">Description: <h6 style="display: inline;">This will be publically viewable, just a brief one or two lines would be enough :).</h6></label>
							<br>
							<textarea name="descriptionByMod" class="form-control" style="width: 100%;" id="descriptionByMod"></textarea>
						</div>

						<!--<input type="submit" value="Slam the hammer of judgement!" class="btn btn-danger" id="modActionCloseButton">-->
						<button id="modActionCloseButton" type="button" class="btn btn-danger" >Slam the hammer of judgement!</button>
						<br>
						<br>
					</form>
				</div>


				<div class="modal-footer">
				
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>

	<script>

	</script>


	<script type="text/javascript" src="libraries/jquery-ui-1.12.1/jquery-ui.min.js"></script>


	<script type="text/javascript" src="scripts/lobby1.js"></script>

	<script type="text/javascript" src="scripts/lobby/statusBarHeight.js"></script>
	<script type="text/javascript" src="scripts/lobby/chat.js"></script>
	<script type="text/javascript" src="scripts/lobby/options.js"></script>
	<script type="text/javascript" src="scripts/lobby/buttonEventListeners.js"></script>
	<script type="text/javascript" src="scripts/lobby/sockets/sockets.js"></script>
	<script type="text/javascript" src="scripts/lobby/sockets/commands.js"></script>
	<script type="text/javascript" src="scripts/lobby/sockets/myNotifications.js"></script>
	<script type="text/javascript" src="scripts/lobby/sockets/game.js"></script>


	<% include partials/footer%>