<% include partials/header%>

<style type="text/css">

.myContainer{
	margin-left: 15px;
	margin-right: 15px;
}

.dark #my-list .list-group-item {
	background-color: #444444;
	border: 1px solid black;
}

</style>




<div class="myContainer">
    <h1>Changelog!</h1>
    <ul class="list-group" id="my-list">

        <li class="list-group-item">
            <strong>05-01-2020: </strong>
            <ul>
                <li>Added: Email verification.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>07-12-2019: </strong>
            <ul>
                <li>Improved: Upgraded database capacity.</li>
                <li>Improved: Reduced log in time.</li>
                <li>Fixed: Link to someone liking your forum/comment/reply now works correctly.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>29-10-2019: </strong>
            <ul>
                <li>Fixed: Finally resolved memory spike issues. Was caused by NodeJS Garbage Collection on larger un-gc'ed rooms.</li>
                <li>Fixed: Forum post removing now works correctly.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>27-10-2019: </strong>
            <ul>
                <li>Fixed: Stats page now shows correct information.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>26-10-2019: </strong>
            <ul>
                Merged Tyrrox's pull request! Thank you!
                <ul>
                    <li>Improved: Fixed a server crash issue.</li>
                    <li>Improved: Logging of /pmmod command.</li>
                </ul>
                Merged rtkimz's pull request! Thank you!
                <ul>
                    <li>Added: Site rules in the rules tab.</li>
                </ul>
                Merged PiGuyInTheSky's pull request! Thank you!
                <ul>
                    <li>Added: Site-wide dark theme!</li>
                </ul>
                <li>Fixed: /mremoveavatar now works correctly.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>14-10-2019: </strong>
            <ul>
                <li>Added: Moderator logs each time moderators use risky commands.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>11-10-2019: </strong>
            <ul>
                Merged Tyrrox's pull request! Thank you!
                    <ul>
                        <li>Added: gameWrapper functions! This includes room finish messages and reliable game detail updates from the lobby page.</li>
                    </ul>
                <li>Improved: Server loads faster for routes that require login.</li>
                <li>Improved: Ban release date message is now in local time.</li>
                <li>Added: gameWrapper for special message to display in all chat.</li>
            </ul>
        </li>
        

        <li class="list-group-item">
            <strong>08-10-2019: </strong>
            <ul>
                <li>Fixed: Stats now correctly update (the last update caused stats to not update on game finish).</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>07-10-2019: </strong>
            <ul>
                <li>Improved: Huge update to banning system.</li>
                <li>Fixed: Timestamp for forum posts no longer show "NaN".</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>06-10-2019: </strong>
            <ul>
                <li>Changed: Censored deleted forum element usernames.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>04-10-2019: </strong>
            <ul>
                <li>Added: Modded CITC and pam.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>19-09-2019: </strong>
            <ul>
                <li>Changed: Demodded Bocaben and Maddie.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>19-09-2019: </strong>
            <ul>
                Merged Tyrrox's pull request! Thank you!
                <ul>
                    <li>Added: /mtogglepause command!.</li>
                </ul>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>14-09-2019: </strong>
            <ul>
                Merged Tyrrox's pull request! Thank you!
                <ul>
                    <li>Fixed: On hammer reject, the last proposed team is now correctly shown.</li>
                    <li>Added: Admins and Moderators can now bypass password protected rooms.</li>
                    <li>Added: /mrevealallroles command!</li>
                </ul>
                <br>
                Merged PiGuyInTheSky's pull request! Thank you!
                <ul>
                    <li>Added: Users now receive notifications if their forum post, comment or reply was removed by a
                        moderator.</li>
                    <li>Improved: Code is now cleaner when registering a user in the database.</li>
                </ul>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>18-08-2019: </strong>
            <ul>
                Merged PiGuyInTheSky's pull request! Thank you!
                <ul>
                    <li>Improved: ESLint integrated into code! </li>
                    <li>Added: /mods command! </li>
                    <li>Added: /pmmod command! </li>
                </ul>

                <li>Added: /mrevealrole command! </li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>11-08-2019: </strong>
            <ul>
                <li>Added: Patreon rewards!</li>
                <li>Added: Admin, Moderator and Patreon badges.</li>
            </ul>
        </li>


        <li class="list-group-item">
            <strong>22-07-2019: </strong>
            <ul>
                <li>Added: /mforcemove command for moderators. Allows moderators to force a player to make a move.</li>
                <li>Improved: /mclose command for moderators now takes multiple inputs.</li>
                <li>Improved: Behind the scenes code changes for gameMove().</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>21-07-2019: </strong>
            <ul>
                Merged PiGuyInTheSky's pull request! Thank you!
                <ul>
                    <li>Fixed: Spelling on front page (sabotaging).</li>
                    <li>Improved: Linting in the code.</li>
                    <li>Improved: Reorganised code libraries.</li>
                    <li>Improved: Updated code to class syntax for roles, phases and cards.</li>
                    <li>Added: Filter forum posts by posts that you created.</li>
                    <li>Improved: Code environment variables can now be defined through a file.</li>
                </ul>

                <li>Fixed: Security flaw.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>03-06-2019: </strong>
            <ul>
                Merged thedarrch's pull request! Thank you!
                <ul>
                    <li>Fixed: Spectators leaving a game during ready / not ready phase no longer cause the process to
                        stop.</li>
                </ul>
            </ul>
        </li>


        <li class="list-group-item">
            <strong>02-06-2019: </strong>
            <ul>
                <li>Improved: Registration page looks prettier.</li>
                <li>Improved: Lots of behind the scenes (code) improvements.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>26-05-2019: </strong>
            <ul>
                Merged Andrew Cutler's pull request! Thank you!
                <ul>
                    <li>Improved: Top navbar is now much more compact and sleek.
                    <li>Added: Hovering navbar icons now change background colour for more interaction.
                </ul>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>11-05-2019: </strong>
            <ul>
                Merged Detry322's pull request! Thank you!
                <ul>
                    <li>Added: Bots! (and it's API) Very big project. Be sure to thank him if you see him :).
                </ul>
            </ul>
        </li>


        <li class="list-group-item">
            <strong>10-05-2019: </strong>
            <ul>
                Merged Skies's pull request! Thank you!
                <ul>
                    <li>Added: Link to community page on home screen.
                </ul>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>09-05-2019: </strong>
            <ul>
                Merged bocaben's pull request! Thank you!
                <ul>
                    <li>Fixed: Server no longer crashes when /guessmerlin is called without a username.
                    <li>Added: /gm command shorthand for /guessmerlin.</li>
                </ul>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>06-05-2019: </strong>
            <ul>
                Merged bocaben's pull request! Thank you!
                <ul>
                    <li>Added: /guessmerlin <username>. Check out /help for a description!
                </ul>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>28-04-2019: </strong>
            <ul>
                Merged bocaben's pull request! Thank you!
                <ul>
                    <li>Added: Automatic /mcompareips when a user logs in.</li>
                </ul>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>23-04-2019: </strong>
            <ul>
                Merged lightamulet's pull request! Thank you!
                <ul>
                    <li>Fixed: Tristan and Isolde now appear as resistance in the profile stats page.</li>
                </ul>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>21-04-2019: </strong>
            <ul>
                <li>Fixed: Notifications now correctly create when username is included in the message.</li>
                <li>Fixed: Player chat no longer continuously highlighted when they become a spectator in a new room.
                </li>
                <li>Fixed: Avatar request message now correctly pops up in correct chat box for moderators.</li>
                <li>Updated: Custom avatar request rules.</li>
                <li>Added: Maximum of 20 notifications. Old ones are automatically deleted. Hopefully this will reduce
                    server load and reduce crashes...!</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>14-04-2019: </strong>
            <ul>
                <li>Improved: Improved a lot of code.</li>
                <li>Improved: Security.</li>
                <li>Fixed: Password protected rooms don't go to negative spectators anymore.</li>
                <li>Improved: Cleaned up a lot of code.</li>
                <li>Added: Modded Tyrrox.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>12-04-2019: </strong>
            <ul>
                <li>Added: Downloadable game records! Big thank you to savvydravvy for his help! All game records are
                    anonymised and available to download at the bottom of the statistics page. </li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>10-04-2019: </strong>
            <ul>
                <li>Added: Some framework (in a branch) for download the gameRecords database.</li>
                Merged Kneehar's pull request! Thank you!
                <ul>
                    <li>Improved: Password input now no longer autocapitalises, autocompletes or autocorrects.</li>
                </ul>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>23-03-2019: </strong>
            <ul>
                <li>Improved: RAM optimisations. Hopefully the server will lag less. Will continue to monitor.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>22-03-2019: </strong>
            <ul>
                Merged Kneehar's pull request! Thank you!
                <ul>
                    <li>Added: Player and team leader highlight upgrade.</li>
                    <li>Added: Hovering over pickBoxes (black circles) now also highlights the team.</li>
                </ul>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>16-03-2019: </strong>
            <ul>
                Merged Skies's pull request! Thank you!
                <ul>
                    <li>Added: Punch command.</li>
                </ul>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>25-02-2019: </strong>
            <ul>
                <li>Added: Some security updates.</li>
                <li>Added: Change password form.</li>
                <li>Added: /mannounce for moderators.</li>
            </ul>
        </li>


        <li class="list-group-item">
            <strong>18-1-2019: </strong>
            <ul>
                <li>Fixed: A large number of requests for stats page no longer lags/crashes the server. Thanks to
                    Freshererer for pointing it out!</li>
                <li>Changed: Text in the disconnect warning box.</li>
                Merged Blastman's pull request! Thank you!
                <ul>
                    <li>Improved: Disconnect notification is now clickable and will reload the page.</li>
                    <li>Improved: Tabs that do not have the textbox input at the bottom of it are now the correct height
                        to line up with the other tabs.</li>
                </ul>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>15-1-2019: </strong>
            <ul>
                Merged skies's pull request! Thank you!
                <ul>
                    <li>Fixed: "out wit" to "outwit".</li>
                </ul>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>2-1-2019: </strong>
            <ul>
                <li>Added: Modded MorningCatt.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>30-12-2018: </strong>
            <ul>
                Merged bocaben's pull request! Thank you!
                <ul>
                    <li>Improved: Various quoting features and also some dark theme fixes.</li>
                </ul>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>29-12-2018: </strong>
            <ul>
                <li>Fixed: Negative spectators causing error code 10 in password protected games.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>28-12-2018: </strong>
            <ul>
                <li>Fixed: Spectators now see the last proposed team when the join a room during assassination phase.
                </li>

                Merged bocaben's pull request! Thank you!
                <ul>
                    <li>Improved: Highlighted chat itself is now black colour on dark theme highlighting for easier
                        reading.</li>
                </ul>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>27-12-2018: </strong>
            <ul>
                Merged sophtoph's pull request! Thank you!
                <ul>
                    <li>Added: Poke command.</li>
                </ul>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>21-12-2018: </strong>
            <ul>
                <li>Fixed: Play area now is always the full width of the screen.</li>
                <li>Improved: Spectator alert that game is starting now disappears when the ready/not ready phase has
                    expired.</li>
                <li>Fixed: Rooms bugging when players leave during ready/not ready phase. Also fixes negative number of
                    spectators.</li>

            </ul>
        </li>

        <li class="list-group-item">
            <strong>18-12-2018: </strong>
            <ul>
                <li>Improved: Made the red in the vote history mission header a deeper red (ty CITC for the colour
                    code).</li>
                <li>Added: Ref of the Rain icon has been changed to a cloud (so that it's different to the standard Lady
                    of the Lake).</li>
                <li>Added: Card history text! (see this under vote history tab)</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>13-12-2018: </strong>
            <ul>
                <li>
                    Merged kojeff's pull request! Thank you!
                    <ul>
                        <li>Fixed: Server crashing when someone leaves and something is attempted to be sent to them.
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>3-12-2018: </strong>
            <ul>
                <li>Fixed: Added colour to the playerChatHighlight button to confirm that it is active.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>2-12-2018: </strong>
            <ul>
                <li>Fixed: Renamed some text for assassination phase.</li>
                <li>Added: Colourised vote history mission headers.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>30-11-2018: </strong>
            <ul>
                <li>Added: Reskinned version for Avalon! Images courtesy of CITC :). You can change it back to the old
                    set of images through the options.</li>
                <li>Fixed: Team not showing up when joining a game that is in assassination phase or finished phase.
                </li>

            </ul>
        </li>

        <li class="list-group-item">
            <strong>29-11-2018: </strong>
            <ul>
                <li>Improved: Re-worked how the role tags work (e.g. "Merlin?" and "Isolde", "Tristan" for each other).
                </li>
                <li>Added: Cache busting - can now automatically detect changes in code and only download new files when
                    needed. Saves data.</li>
                <li>Improved: /roomchat is no longer called when the game hasn't started so you see yourself joining.
                </li>
                <li>Fixed: Private game chat no longer leaks to players without the password.</li>
                <li>Updated: Assassination phase status message.</li>
                <li>Added: Ref of the rain. Same as Lady of the Lake but can only be used after the previous mission
                    failed.</li>
                <li>Added: Automatic linkifying of website urls in chat.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>28-11-2018: </strong>
            <ul>
                <li>Fixed: Lots of server crash issues.</li>
                <li>Fixed: Typo for "aquaint".</li>
                <li>Added: Tristan and Isolde roles in Avalon!</li>
                <li>Fixed: whoAssassinShot now records in the database correctly.</li>
                <li>Added: Dark theme hammer.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>27-11-2018: </strong>
            <ul>
                <li>Fixed: Some grammer issues in the finished phase.</li>
                <li>Changed: Hammer icon is now... a hammer icon!</li>

            </ul>
        </li>

        <li class="list-group-item">
            <strong>26-11-2018: </strong>
            <ul>
                <li>Biggest, most massive update ever made! Merged in Pull Request #105. This update has taken around 75
                    hours to do... ToT.</li>
                <ul>
                    <li>Refactor: Split out avalonRoom.js into many smaller files. Much more modular now.</li>
                    <li>Refactor: Split out phases into many smaller files. Much more modular now.</li>
                    <li>Added: Sire of the Lake (mainly for me to test with a second card).</li>
                    <li>Added: /maddbots to test with.</li>
                    <li>Added: /mtestgame to test with.</li>
                    <li>Improved: Better interface for new room options and in-room role/card options.</li>
                    <li>Added: Option for other game modes (Hunter roles are incomplete).</li>
                    <li>Fixed: Some dark theme issues.</li>
                    <li>Added: Description for roles/cards.</li>
                    <li>Added: Some other miscellaneous mod commands.</li>
                    <li>Added: Dynamically updating roles/cards/gamemodes depending on what is on the server. Less hard
                        coding.</li>
                </ul>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>22-11-2018: </strong>
            <ul>
                <li>Added: Highlight players on previous missions by hovering on mission boxes in the center. (Thanks to
                    Seagullible for contributing code!)</li>
                <li>Fixed: Players not highlighting on missionBox hover during assassination.</li>
                <li>Fixed: Stats now show the correct overall game duration.</li>
                <li>Added: Site traffic stats! Number of games played per day now shown.</li>
                <li>Improved: Profile stats graph hover now clarifies that the numbers in the [] are wins and losses
                    (before it was [25/30] now it is [25W/30L].</li>
                <li>Improved: Site traffic stats graph is now more elegant on large screens.</li>
                <li>Improved: Site traffic stats graph now starts from 0 on the y axis.</li>
                <li>Improved: Player highlight on missionBox.</li>
                <li>Improved: Site traffic stats graph shows day of week for each data point.</li>
                <li>Improved: Cleaned up registration page.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>2-11-2018: </strong>
            <ul>
                <li>Fixed a server crashing bug. </li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>8-10-2018: </strong>
            <ul>
                <li>
                    Merged Hapr05's pull request!
                    <ul>
                        <li>Changed: The whole bubble for a forum link in the forum index page is now clickable to open
                            the thread.</li>
                    </ul>
                </li>

            </ul>
        </li>

        <li class="list-group-item">
            <strong>3-10-2018: </strong>
            <ul>
                <li>
                    Merged Bocaben's pull request!
                    <ul>
                        <li>Added: Fixed some small issues with quotes.</li>
                    </ul>
                </li>
                <li>
                    Merged tonymarkoc's pull request!
                    <ul>
                        <li>Added: Option to hide your stats on your public profile.</li>
                    </ul>
                </li>

            </ul>
        </li>

        <li class="list-group-item">
            <strong>26-09-2018: </strong>
            <ul>
                <li>
                    Merged Bocaben's pull request!
                    <ul>
                        <li>Added: Verification for quotes.</li>
                        <li>Added: Clarifies when a new game created is private or not.</li>
                    </ul>
                </li>
                <li>Added: Game duration by game size breakdown in stats.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>14-09-2018: </strong>
            <ul>
                <li>
                    Merged Mordekaiser's pull request!
                    <ul>
                        <li>Added: Show number of players online.</li>
                    </ul>
                </li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>12-09-2018: </strong>
            <ul>
                <li>
                    Merged Mordekaiser's pull request!
                    <ul>
                        <li>Fixed: Spamming join and spectate buttons now do not make you claim between each iteration.
                        </li>
                    </ul>
                </li>
                <li>Fixed: Team leader in the top position will now not have their "Pick" button disabled whenever a
                    player joins/leaves the room. (Found by hakha3)</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>11-09-2018: </strong>
            <ul>
                <li>
                    Merged Mordekaiser's pull request!
                    <ul>
                        <li>Improved: Now shows who kicked players out of the room (instead of just 'host', it now shows
                            the host's username).</li>
                        <li>Improved: Button code has received a big refactor.</li>
                        <li>Changed: Claim button is only clickable when sitting down in a room.</li>
                        <li>Changed: "Stand up" button text is now "Spectate"</li>
                    </ul>
                </li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>08-09-2018: </strong>
            <ul>
                <li>
                    Merged Mordekaiser's pull request!
                    <ul>
                        <li>Added: Option to use shields instead of gun images.</li>
                    </ul>
                </li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>06-09-2018: </strong>
            <ul>
                <li>
                    Merged tonymarkoc's pull request!
                    <ul>
                        <li>Added: Unhighlight all player chat button (misc tab).</li>
                        <li>Added: Set all highlight chat colour to yellow checkbox (misc tab).</li>
                    </ul>
                </li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>04-09-2018: </strong>
            <ul>
                <li>
                    Merged Mordekaiser's pull request!
                    <ul>
                        <li>Improved: The Github repository organisation.
                        <li>Fixed: Cannot kick yourself anymore (as the host).
                        <li>Improved: Better lobby game menu interface.</li>
                        <li>Added: Max number of players for each room in the lobby screen.</li>
                    </ul>
                </li>
                <li>Added: Made the notification dropdown wrap text when it gets too long.</li>

            </ul>
        </li>

        <li class="list-group-item">
            <strong>03-09-2018: </strong>
            <ul>
                <li>Fixed: Guns would not appear after you host a room.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>02-09-2018: </strong>
            <ul>
                <li>Added: Mission history of each game displayed in lobby.</li>
                <li>Added: Placeholder text in room password (optional) to clearly show that password is optional...
                </li>
                <li>Added: Option for maximum number of players that can sit down in a room.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>01-09-2018: </strong>
            <ul>
                <li>Added: Passwords to game rooms.</li>
            </ul>
        </li>


        <li class="list-group-item">
            <strong>31-08-2018: </strong>
            <ul>
                <li>Added: Github and Facebook links to navbar.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>29-08-2018: </strong>
            <ul>
                <li>Added: Pressing tab now autocompletes usernames!</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>27-08-2018: </strong>
            <ul>
                <li>Added: Compact view option!</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>26-08-2018: </strong>
            <ul>
                <li>Fixed: Bug where users could change other parameters of a forum thread. (kmh & defund)</li>
                <li>Fixed: Bug where anyone could remove a forum thread/comment/reply. (kmh & defund)</li>
                <li>Fixed: Bug where anyone could pin a forum thread. (kmh & defund)</li>
                <li>Fixed: Bug where people with the forum thread link could still see a deleted thread.</li>
                <li>Fixed: Bug where people could still edit their deleted forum/comment/reply.</li>
                <li>Changed: Hid the catpcha for beta testing site register page.</li>
                <li>Fixed: Moderator commands minor fixes.</li>
                <li>Changed: Made the starting message (You are ...) un-selectable (so you can't copy paste).</li>
                <li>Fixed: Chat now no longer accidentally has no time-stamp.</li>
                <li>Fixed: When a user creates a room and leaves the page, the room now disappears correctly.</li>
                <li>Fixed: When a host leaves a room and joins another, pressing stand up now no longer opens the kick
                    menu.</li>
            </ul>
        </li>


        <li class="list-group-item">
            <strong>23-08-2018: </strong>
            <ul>
                <li>Fixed: Lots of bugs...</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>22-08-2018: </strong>
            <ul>
                <li>Added: Pressing enter on search bars for profiles now searches...</li>
                <li>Added: Acknowledgements in the about page.</li>
                <li>Added: Mute join leave messages option (In misc tab).</li>
            </ul>
        </li>


        <li class="list-group-item">
            <strong>21-08-2018: </strong>
            <ul>
                <li>Added: Improved interface for custom avatars. You can now preview your image to test your links.
                </li>
                <li>Added: Links to base res and spy images in avatar request page.</li>
                <li>Added: Hovering over avatar image on profiles now shows the spy avatar.</li>
                <li>Changed: Moved the Change Avatar link to inside the profile edit page.</li>
                <li>Added: Option to use original avatars and hide custom avatars (in the options cog menu in the top).
                </li>
                <li>Added: /avatarhide and /avatarshow commands.</li>
                <li>Added: Search bar to find other player profiles.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>20-08-2018: </strong>
            <ul>
                <li>Added: Custom avatars! Access this through your profile page (hover over your avatar in that page)!.
                </li>
                <li>Added: Notifications for mods when there are pending custom avatar requests.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>19-08-2018: </strong>
            <ul>
                <li>Fixed: Server crashing when creating a username with ')' in it.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>15-08-2018: </strong>
            <ul>
                <li>Changed: Visuals for unseen posts/comments/replies.</li>
            </ul>
        </li>


        <li class="list-group-item">
            <strong>13-08-2018: </strong>
            <ul>
                <li>Added: Unseen displays for new forum threads, comments and replies!</li>
                <li>Fixed: Time ago is now correctly in plural when required for forums (comments used to be 4 hr ago
                    instead of 4 hrs ago).</li>
                <li>Fixed: Lady of the lake not showing up when a game finishes.</li>
                <li>Fixed: Continuously unliking and reliking a person's forum/comment/reply no longer produces
                    duplicate notificaitons.</li>
            </ul>
        </li>


        <li class="list-group-item">
            <strong>12-08-2018: </strong>
            <ul>
                <li>Fixed: Server now removes frozen games if they have loaded for more than 5 mins without resuming.
                </li>
                <li>Fixed: Server now removes saved games when they have destroyed themselves because no one is inside
                    it. (Otherwise next server reload there'd be frozen games of a game that shouldn't exist)</li>
                <li>Fixed: Server now doesnt crash when updating your profile and putting in two countries.</li>
                <li>Fixed: Server now doesnt crash when you leave a frozen game with another person still inside it.
                </li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>11-08-2018: </strong>
            <ul>
                <li>Changed: Mute spectators button hides all spectator chat. Deselcting mute spectators will also now
                    reveal all previously said spectator chat. (Boca)</li>
                <li>Fixed: Mute spectator button doesn't hide gameplay text anymore (Tony)</li>
                <li>Fixed: Mute spectator button would still flash yellow on a tab when a spectator types a message
                    (even though its hidden correctly).</li>
                <li>Fixed: If a player leaves a running game and slaps someone inside a game, it will now correctly
                    publically say that they slapped them.</li>
                <li>Fixed: /help would give messages with no timestamp.</li>
                <li>Added: Confirmation message whether your slap/buzz/lick went through. (Hak)</li>
                <li>Fixed: Mute spectators now correctly hide spectators when they quote.</li>
                <li>Fixed: Single muting someone now correctly hides when they quote. (Ref)</li>
                <li>Fixed: Spectators when not muted wouldn't give a yellow notification on all chat or room chat tabs.
                </li>
                <li>Changed: Instead of mods being able to see ips of players, mods can now only see the usernames of
                    players with the same ip.</li>
                <li>Changed: All games are now saved as they progress (every 'game move', e.g. a pick, a vote, a
                    carding'). This way games that are in progress will (hopefully) never be lost again.</li>
                <li>Added: Game size win rates breakdown stats.</li>
                <li>Added: Spies winning method breakdown stats.</li>
                <li>Added: Lady of the lake starting team stats.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>09-08-2018: </strong>
            <ul>
                <li>Fixed: There is now a bit of space between each individual comment on forums. (Ref)</li>
                <li>Fixed: New messages in all chat in the lobby no longer shows a yellow tab when you enter a room in
                    the all chat tab. (hak)</li>
                <li>Fixed: Spectators would not see which team was picked at the end during assassination phase when
                    they just joined the room.</li>
                <li>Fixed: A person replying to your reply would sometimes give you two notifications (one for they
                    replied to your comment, another for they replied to your reply). (hak ref)</li>
                <li>Fixed: /roomchat and /allchat would list all mesages as the current time. They now show the correct
                    time they were originally sent.</li>
                <li>Added: Awesome logo by CITC :D.</li>
                <li>Fixed: Limited a lot of user data that can be seen in profiles.</li>
                <li>Fixed: Commands dont have a timestamp when it says something to you.</li>
                <li>Added: Start of the statistics page!</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>07-08-2018: </strong>
            <ul>
                <li>Fixed: Total time played now correctly updating.</li>
                <li>Fixed: Total time played reset and re-updated using correct values (deduced each player's play time
                    by counting up all the game record durations).</li>
                <li>Added: Total percentage win rate in profiles.</li>
                <li>Added: Player profile url's are now case insensitive. (boca)</li>
            </ul>
        </li>


        <li class="list-group-item">
            <strong>06-08-2018: </strong>
            <ul>
                <li>Fixed: Assassin can no longer assassinate a 'visible' spy.</li>
                <li>Added: Auto save games and send warning when the daily restart of the server must happen.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>30-07-2018: </strong>
            <ul>
                <li>Fixed: Server crashing when users update their biographies in certian cases.</li>
                <li>Fixed: Certain browsers (Edge 17) not showing the login form correctly.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>28-07-2018: </strong>
            <ul>
                <li>Added: Publically visible in game room when someone slaps/buzzes/licks a player when game is
                    running. (lots of people!)</li>
                <li>Added: Case insensitive slapping/buzzing/licking. (hak/boca)</li>
                <li>Changed: /roomChat is now /roomchat and /allChat is now /allchat. (hak/boca)</li>
                <li>Fixed: Players online and spectating are now in alphabetical order (it used to be
                    ABC...XYZabc...XYZ).(boca/bb)</li>
                <li>Fixed: Main page form was not centering on certain old phone browsers.</li>
                <li>Added: Lowercased version of your username on database so that finding your name can also be case
                    insensitive :).</li>
                <li>Added: Mod command to allow us to drop a message into your notifications. (boca)</li>
                <li>Added: Some dots to make it now: 'Waiting for (user) to assassinate Merlin...'. (hak)</li>
                <li>Added: Call /roomchat the moment you join a room.</li>
                <li>Fixed: Server crashing when you slap no one.</li>
                <li>Fixed: Certain browsers on Apple devices would 'flicker' or 'flash' every time the game updates.
                    (For the nerds: the browser would keep requesting the same image over and over again instead of
                    using the ones stored in memory, so I've forcefully set a 30 minute cache.) (issue found by Kel and
                    Skies)</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>27-07-2018: </strong>
            <ul>
                <li>Removed: Orange your turn notification.</li>
                <li>Added: Faded out button is now visible when it's your turn.</li>
                <li>Added: Stand up feature to leave the "Players in game" and become a spectator without having to
                    leave and rejoin. [Suggested by Boca]</li>
                <li>Fixed: Incorrect stats if you had an entry that didn't have a win or a loss (would make the total
                    number not a number) [Found by Hak].</li>
                <li>Changed: Start scaling approve reject labels much later so that they're bigger.</li>
                <li>Added: Licking :P.</li>
                <li>Added: Mute command (mute a single player against chat and mute/licking, etc.</li>
                <li>Added: 'The game is starting!' text in the room when the host starts the game.</li>
                <li>Added: Troubleshooting/FAQ page.</li>
                <li>Upgraded: Front page! The login form is now much better (in terms of width, height and positioning).
                </li>
                <li>Added: My contact details on the About page.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>26-07-2018: </strong>
            <ul>
                <li>Fixed: Succeed fail buttons would slide around when players voted.</li>
                <li>Fixed: Team leader, hammer and picknum would increase even though game has ended or has gone into
                    assassination (thinking there is a M6).</li>
                <li>Added: HTTPS SSL certificate! Site is now fully encrypted. Thanks to Pino for helping me out :D.
                </li>
                <li>Changed: Lady of the lake is now on the person before team leader of 1.1.</li>
                <li>Fixed: Server crashing when you click on a notification that you hid already in another tab.</li>
                <li>Added: Your turn notification (red border) when it is your turn lol.</li>
            </ul>
        </li>


        <li class="list-group-item">
            <strong>25-07-2018: </strong>
            <ul>
                <li>Added: Max avatar height option.</li>
                <li>Added: Captcha verification on register.</li>
                <li>Changed: Max width and scaling width for vid on front page.</li>
                <li>Fixed: Pages navigation at the bottom of index forums now keeps topic filter.</li>

            </ul>
        </li>

        <li class="list-group-item">
            <strong>24-07-2018: </strong>
            <ul>
                <li>Changed: Avatar positions in different game sizes. 6, 7, 8p now looks more comfortable.</li>
                <li>Fixed: Claim button saying "Claim" when you've already claimed.</li>
                <li>Added: Quote length filter. At most 5 lines of quoting each message.</li>
                <li>Fixed: Player join room notification. Also changed the sound.</li>
                <li>Fixed: Not being able to select a player when you click on a gun on top of them.</li>
                <li>Fixed: "NaN has joine dthe room."</li>
                <li>Fixed: Selected avatars (say for picking a mission) would refresh every time someone joined/left the
                    room.</li>
                <li>Fixed: Drawing guns now operate correctly, stay during assassination and also stay after game
                    finished.</li>
                <li>Fixed: Buttons not operating correctly earlier when people leave the room (you would have to reselct
                    them to pick again).</li>
                <li>Changed: Made tabs look nicer.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>23-07-2018: </strong>
            <ul>
                <li>Changed: Hammer star now filled. Also position better placed.</li>
                <li>Added: Moving gun animation when a team is picked.</li>
                <li>Added: List of spectators in room.</li>
                <li>Added: Dark mode colours for succeed fail chat logs.</li>
                <li>Changed: Position of hammer star (Some long usernames overlap it).</li>
                <li>Changed: Increased font size of missions boxes.</li>
                <li>Added: Gray mission boxes for dark theme.</li>
                <li>Changed: New bullet image (Thanks CITC :D).</li>
                <li>Changed: Gray pick circles in the middle for dark theme.</li>
                <li>Changed: Moved top avatars slightly down.</li>
                <li>Added: Gameplay text for shooting ("ProNub has been shot!").</li>
                <li>Fixed: 8p avatars now aligned properly.</li>
                <li>Upgraded: Hammer star now doesn't put the username off center. Also adjusts to the length of the
                    player's username.</li>
                <li>Upgraded: Same for lady^.</li>
                <li>Upgraded: Vertically centered hammer star and lady.</li>
            </ul>
        </li>


        <li class="list-group-item">
            <strong>22-07-2018: </strong>
            <ul>
                <li>Changed: Yet another avatar positioning/size change... Hopefully this time its good.</li>
                <li>Added: Slight delay before sending out data in case user hasn't fully loaded (0.5s).</li>
                <li>Changed: Polished up the avatar role displays and status bar.</li>
                <li>Changed: Location of approve reject, and also more status bar refining.</li>
                <li>Changed: Cannot dismiss a disconnected warning.</li>
                <li>Fixed: Player game data not saving when they have a notification...</li>
                <li>Fixed: Player playTime counter not increasing for games that were frozen.</li>
                <li>Fixed: Some players' devices that do not see the ready/not ready notification would make the room
                    hang waiting for a response from them.</li>
                <li>Added: Colours for mission succeeding and failing text.</li>
                <li>Fixed: Some browsers wouldn't let players sit down in a game.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>21-07-2018: </strong>
            <ul>
                <li>Added: Forum moderation (the last big job... for a while at least)</li>
                <li>Added: Guns now stay after a game finishes to show who was on the last team.</li>
                <li>Fixed: Kicking people from rooms.</li>
                <li>Added: /navbar command. Check out /help in game for further details.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>20-07-2018: </strong>
            <ul>
                <li>Changed: Heavy refactor of all code... Biggest ever done so far... Code is soo much better</li>
                <li>Fixed: Spectators list in misc tab now fixed.</li>
                <li>Changed: Teal colour for players joining and leaving.</li>
                <li>Fixed: Ability to see other rooms' chat.</li>

            </ul>
        </li>

        <li class="list-group-item">
            <strong>19-07-2018: </strong>
            <ul>
                <li>Changed: Instead of alert and reloading the page automatically on disconnect, a small notification
                    will appear.</li>
                <li>Fixed: A lot of small bugs. Also some minor visual tweaks.</li>
                <li>Added: Spectator text in game is now orange.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>18-07-2018: </strong>
            <ul>
                <li>Fixed: Total res losses was not updating.</li>
                <li>Fixed: Spectators not receiving game data.</li>
                <li>Fixed MAJOR BUG: Rare case where someone's vote would be counted multiple times and some players'
                    pick would be skipped!</li>
                <li>Fixed MAJOR BUG: Rare case where someone's mission vote would be counted multiple times and some
                    missions would be skipped!</li>
                <li>Changed: Upgraded the sweet alert to a cooler newer sweet alert 2 interface :). Allows for stuff
                    like not auto-focusing on the confirm button and timers.</li>
                <li>Fixed: Wouldn't auto scroll down in the chatbox for chat entries that are longer than one line.</li>
                <li>Fixed: Wouldn't auto scroll down When someone quotes more than 2 lines.</li>

            </ul>
        </li>


        <li class="list-group-item">
            <strong>17-07-2018: </strong>
            <ul>
                <li>Added: Edit links to profiles. Default flag is UN :).</li>
                <li>Added: About page.</li>
                <li>Added: Security page.</li>
                <li>Added: Moderator interface for lobby and games. Bans and mute options available abut not fully
                    working yet.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>16-07-2018: </strong>
            <ul>
                <li>Added: Recording player stats completed.</li>
                <li>Added: Recording the lady chain (roles) and whether a mission had more than one fail.</li>
                <li>Added: Link to user profile in the top header.</li>
                <li>Added: Ability for me to save games, restart the server, and reload the games so that I won't
                    disturb you guys too much when updating :).</li>
                <li>Added: Redraw once after one second when joining a room in case of issues with screen size.</li>
                <li>Fixed: Missions box now better centered.</li>
                <li>Fixed: Missions box colours are now blue and red.</li>
                <li>Added: Game is 'Frozen' until people join back into a saved and reloaded game.</li>
                <li>Fixed: Game end sound playing multiple times and being annoying.</li>
                <li>Fixed: Server sometimes sends out faulty game data leading to some very confusing scenarios.</li>
                <li>Fixed: Date text not changing font when user changes it in settings.</li>
                <li>Changed: Auto hide the top navbar when clicking outside of it. Many people on phones complained that
                    they couldn't see any room chat but that was because the navbar was still open and the code that
                    sets it to the screen height was incorrectly calculating the values.</li>
                <li>Changed: Missions box is now hidden until game starts.</li>
                <li>Changed: Moved avatars around again... Slightly lower now.</li>
                <li>Fixed: Changing roles wouldn't update in the status bar.</li>
                <li>Added: /roll command!</li>
                <li>Fixed: Couldn't bold and colour text at the same time in forums.</li>
                <li>Changed: Server restart warning is now unable to be closed by typing normally or clicking outside.
                    You can leave that warning by pressing escape now.</li>
                <li>Added: Start of edit page for profile. Flag automatically changes when you select a new country :).
                </li>
            </ul>
        </li>


        <li class="list-group-item">
            <strong>15-07-2018: </strong>
            <ul>
                <li>Added: Last person to post on forums display on main page.</li>
                <li>Fixed: Server crashing when replying to an old old comment.</li>
                <li>Fixed: Pinned threads weren't showing.</li>
                <li>Changed: Polished up notifications.</li>
                <li>Added: "Seen" option for notifications.</li>
                <li>Changed: Badge number for notifications now shows number of unseen notifications.</li>
                <li>Changed: You don't trigger your own notifications anymore (e.g. if you post a comment on your forum
                    thread you don't receive a notification for that anymore...)</li>
                <li>Changed: Only one set of tabs flash yellow now.</li>
                <li>Added: Started recording which role the lady starts with for nice statistics.</li>
                <li>Added: Assassin's name now shows during assassination phase in status bar.</li>
                <li>Fixed: Game end sound being played multiple times if someone leaves/joins.</li>
            </ul>
        </li>


        <li class="list-group-item">
            <strong>14-07-2018: </strong>
            <ul>
                <li>Changed: Moved % sign in the chart in profiles to the x axis.</li>
                <li>Added: Raw wins/losses when hovering over a data entry on the chart.</li>
                <li>Added: Likes for forums, comments and replies! (took me way longer than it needed to...)</li>
                <li>Added: Notifiations for when someone likes something you posted,commented or anything else to do
                    with forums...</li>
                <li>Added: Liking a post now shows "Unlike" option. Vice versa.</li>
            </ul>
        </li>


        <li class="list-group-item">
            <strong>11-07-2018: </strong>
            <ul>
                <li>Added: Notifications for forum activity.</li>
                <li>Changed: Replies to replies will now show the person you replied to.</li>
                <li>Changed: Made forums require you to be logged on to access.</li>
                <li>So many frustrating things today, spent more than 9 hours today just to do these 3 things...</li>
                <li>Fixed: A way to crash server... (replying to a comment)</li>
                <li>Fixed: Replying to a comment wouldn't notify them.</li>


            </ul>
        </li>

        <li class="list-group-item">
            <strong>10-07-2018: </strong>
            <ul>
                <li>Changed: Moved the font size setting into the display tab.</li>
                <li>Removed: General tab in settings.</li>
                <li>Changed: No need to reset your settings if its the first time you log on...</li>
                <li>Added: Start of profiles.</li>
                <li>Added: Stats and pretty graphs in profiles.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>09-07-2018: </strong>
            <ul>
                <li>Changed: Huge change to the options interface.</li>
                <li>Added: Scroll bar to long setting menus...</li>
                <li>Added: Volume slider.</li>
                <li>Added: Max-width for game containers.</li>
                <li>Fixed: Role options button was triggering settings...</li>
                <li>Fixed: View of role options menu was hard to see when in dark mode.</li>
                <li>Fixed: Sometimes when a player talks while already highlighted, their chat would not come up
                    highlighted.</li>
                <li>Added: Code to allow me to reset your settings at will! Muahahaha (only for major updates where I
                    have to reset your settings).</li>
                <li>Changed: Made approve reject buttons disappear if not in use.</li>
                <li>Added: Base code for playing sound.</li>
                <li>Added: All sound notifications.</li>
                <li>Changed: Buttons now hide when disabled. Pick button is now faded when it is your turn to pick but
                    not selected right number of players for a mission.</li>
                <li>Fixed: Faded buttons would stay faded when they're not supposed to.</li>
                <li>Removed: Game-start sound (since we already have the ready sound).</li>
                <li>Changed: Avatar highlight colours for dark mode so usernames and hammers are more visible.</li>
                <li>Fixed: Server crashing if someone leaves the room during ready/not ready phase.</li>
                <li>Fixed: Very bad bug where user settings would be lost when browser was closed... silly me</li>
                <li>Changed: Default colours for highlighting chat.</li>
                <li>Added: Desktop push notifications.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>08-07-2018: </strong>
            <ul>
                <li>Fixed: Spectators would see a 'You are a undefined. Your role is undefined.' message when they
                    shouldn't.</li>
                <li>Fixed: Approve and reject buttons were on the wrong side...</li>
                <li>Fixed: VH was displaying the players in opposite order.</li>
                <li>Fixed: Mission number and pick number was increasing on the last iteration of the game (when game
                    ends on m5 you'd see a m6 in VH).</li>
                <li>Fixed: Chat wouldn't scroll for new messages with more than one row of height.</li>
                <li>Added: Changed 'Claim' to 'Unclaim' when pressed and vice versa.</li>
                <li>Fixed: Invalid command message showing in both allChat and roomChat.</li>
                <li>Fixed: Spectators weren't receiving gameplay-text.</li>
                <li>Fixed: Spectators weren't being removed from the game list when a game has started.</li>
                <li>Added: Notification to spectators that a game is trying to start (ready/not ready phase).</li>
                <li>Added: Player leave icon.</li>
                <li>Changed: Player leave icon replaced with faded out avatar to show they left.</li>
                <li>Fixed: Dark mode dates are now dark mode.</li>
                <li>Fixed: Dark mode role boxes weren't visible.</li>
                <li>Added: Two tabs in game room :)</li>
                <li>Fixed: When turning dark mode off, chat would be black.</li>
                <li>Fixed: When turning chat highlight off when dark mode is on, chat background would be white.</li>
                <li>Fixed: A lot of issues with two tabs no corectly operating.</li>
                <li>Fixed: Dark theme tick marks in vote history were grayed instead of black.</li>
                <li>Fixed: Server would crash when a spectator leaves a game that hasn't started.</li>
                <li>Fixed: Vote History in 2nd tab wasn't displaying correctly.</li>
                <li>Changed: Removed separation between the two tabs in game room.</li>
                <li>Fixed: Quoting won't make the chatbox automatically scroll to the bottom.</li>
                <li>Fixed: Bottom row of the chatboxes would move when adjusting the draggable gray bar (it shouldn't).
                    Also extended chatboxes further down a bit.</li>
                <li>Fixed: Avatars were slightly off center (2 pixels lol).</li>
                <li>Fixed: More dark mode issues with the change highlight colour button and ugly spectator table lines
                    when there is no entry.</li>
                <li>Added: Half of the new settings interface.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>07-07-2018: </strong>
            <ul>
                <li>Changed: "All Chat!" to "All Chat" and "Game Chat!" to "Game Chat" due to many requests :(.</li>
                <li>Added: Red bar to show that there are unread messages in the chat boxes.</li>
                <li>Added: Timestamps for all messages so that they can also be quoted in the room chat (e.g. someone
                    joining/leaving you can now quote)</li>
                <li>Added: Server text to state what your alliance is and what your role is at the start of a game.</li>
                <li>Changed: Bigger status bar (to the normal size) if the device has enough height (above 800px).</li>
                <li>Changed: A lot of the messages displayed by the site ended with a comma (,) because I was lazy when
                    coding :P (for example its easier to chain on subsequent player names in a list with , at the end of
                    their name, e.g. {ProNub, bb, Crouton,}. It is now a full stop.</li>
                <li>Changed: Updated positioning of avatars and missionboxes so that words and boxes don't collide and
                    look pretty.</li>
                <li>Changed: Added a set of custom degree positions for each avatar to sit in in game sizes that would
                    have avatar collision with text. Much prettier now too :3.</li>
                <li>Fixed: Timestamp sometimes showing minutes with 1 digit. e.g. [14:3]</li>
                <li>Added: /roomChat now retrieves server and gameplay text (in the past you'd only get messages).</li>
                <li>Added: Extra padding and margin for chat list objects. Makes it visually pleasing :).</li>
                <li>Changed: Spaced out the approve/reject buttons a bit more.</li>
                <li>Changed: Scaling of extendDivToBottom so that it doesn't overflow one page.</li>
                <li>Fixed: Cannot edit replies to forum comments. Silly typo :(</li>
                <li>Added: Number of spectators in each game in lobby.</li>
                <li>Added: Ding chime when a player joins the game. (will add an option to enable/disable this very
                    soon)</li>
            </ul>
        </li>


        <li class="list-group-item">
            <strong>05-07-2018: </strong>
            <ul>
                <li>Added: Prohibiting usernames to contain [ and ] characters.</li>
                <li>Added: List of spectators in a room in the misc tab.</li>
                <li>Fixed: Server crashing when a room with only spectators (and no players sitting down) empties.</li>
                <li>Fixed: Chatboxes would scroll to the bottom when a new message is received even when you're scrolled
                    away looking at earlier chat.</li>

            </ul>
        </li>

        <li class="list-group-item">
            <strong>04-07-2018: </strong>
            <ul>
                <li>Added: On socket disconnect, redirect user back to home page. Sometimes when a phone is slept with
                    the page still on, it will periodically disconnect and reconnect, causing the all chat to flood with
                    join and leave messages. But also it'll save you mobile data ;).</li>
                <li>Added: 25 character limit on usernames.</li>
                <li>Added: Mission boxes in center of screen now scale with height of the game area.</li>
                <li>Changed: Slight position changes of avatars.</li>
                <li>Added: Made quoting lines said by players very pretty C:</li>
                <li>Added: Made time stamps look prettier.</li>
                <li>Changed: Reduced the size of the tick for being picked on a mission on Vote History.</li>
                <li>Added: Legend for the Vote History.</li>
                <li>Added: Claiming feature.</li>
                <li>Fixed: Games that finish with a hammer reject not saving how the game was won correctly.</li>
            </ul>
        </li>


        <li class="list-group-item">
            <strong>03-07-2018: </strong>
            <ul>
                <li>Changed: Shuffle players around the table when game starts.</li>
                <li>Changed: Forums now display threads from newly edited threads to oldest edited threads.</li>
                <li>Added: Filter forum threads by category.</li>
                <li>Added: Pressing category filter when active will return back to no filter. </li>
                <li>Added: Recording of game statistics for later analysis :). </li>
                <li>Added: Support for links to avatars on other websites such as imgur.com.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>02-07-2018: </strong>
            <ul>
                <li>Removed: /allChat command.</li>
            </ul>
        </li>


        <li class="list-group-item">
            <strong>17-05-2018: </strong>
            <ul>
                <li>Fixed bug: Leader star moving immediately when a mission was approved (confusing as to who actually
                    proposed the team). Leader star now moves after mission has succeeded or failed.</li>
                <li>Fixed bug: Vote history not clearing when changing game rooms.</li>
                <li>Fixed bug: Highlighting chat was highlighting the whole line instead of just the text. </li>
                <li>Added: Custom colour highlighting for player chat in game!</li>
                <li>Fixed bug: Unable to kick a player with special characters in their name.</li>
                <li>Added: Restricted special characters in usernames.</li>
                <li>Fixed bug: New chat messages would not highlight correctly.</li>
                <li>Changed: Huge refactor of how the code sends chat. Easier for me to implement the following
                    features!</li>
                <li>Added: /roomChat command. Refreshes your room chat so you have it from the start.</li>
                <li>Added: /allChat command. Refreshes your all chat so you have the last 5 minutes of it.</li>
                <li>Fixed bug: Gameplay text wasn't working.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>16-05-2018: </strong>
            <ul>
                <li>Fixed bug: When deleting forum comments/replies, the wrong comment/reply would be deleted.</li>
                <li>Fixed bug: Dead links in forum main page (specifically the left and right arrows in pages at the
                    bottom).</li>
                <li>Changed: Only shows pinned threads on page 1 of forums.</li>
                <li>Added: Extra protection against potential security flaws ;).</li>
                <li>Added: Pretty formatting for threads, comments and replies. Can do a wide range of formatting such
                    as colours, tables, indents, links, images, etc. Try them out :).</li>
                <li>Added: Colour picker for highlighting player chats! (under misc. tab in game)</li>
                <li>Added: Reset cookies button, in the cog at the top of the page.</li>
                <li>Added: Saving user colour settings.</li>
                <li>Changed: Number for the height of the play container is now a nice looking integer instead of a long
                    decimal place number.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>15-05-2018: </strong>
            <ul>
                <li>Fixed bug: Avatars and highlight chat sometimes not triggering.</li>
                <li>Fixed bug: Wrong leader username being displayed in status bar for example "somethingWrong has
                    picked: 1, 2, 3"</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>30-03-2018: </strong>
            <ul>
                <li>Changed: Refactored a huge portion of the code. Is much neater for my eyes :D.</li>
                <li>Added: Delete function for comments.</li>
                <li>Added: Delete function for comment replies.</li>
                <li>Added: Very nice UI for text editing on edits (threads, comments, replies)</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>29-03-2018: </strong>
            <ul>
                <li>Added: Time since last edit for replies.</li>
                <li>Added: Pinned thread features.</li>
                <li>Added: Very nice UI for text editing (Thank you <a style="padding: 0;"
                        href="https://summernote.org/">summernote</a>!).</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>25-03-2018: </strong>
            <ul>
                <li>Added: Edit feature for comments.</li>
                <li>Added: Edit feature for replies to comments.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>15-03-2018: </strong>
            <ul>
                <li>Fixed bug: XSS in usernames.</li>
                <li>Added: Maximum 500 characters limit to each message.</li>
                <li>Added: Cookie support for user options to persist.</li>
                <li>Added: Dark theme persist (when you refresh, your setting stays).</li>
                <li>Added: Font-size persist (when you refresh, your setting stays).</li>
                <li>Added: Resize-able game room. Can change by dragging a bar on the screen on by typing in a new value
                    in the options (easier to do on mobile).</li>
                <li>Fixed bug: 'player has left the room' displaying twice when they disconnect while in a room.</li>
                <li>Added: Player who just joined lobby now sees themself joining in all chat.</li>
                <li>Fixed same player with different case not being kicked out of old browser.</li>
                <li>Added: Automatically 'Not ready' command sent if user does not respond in 15 seconds.</li>
            </ul>
        </li>



        <li class="list-group-item">
            <strong>14-03-2018: </strong>
            <ul>
                <li>Added: delete functionality for forumThread.</li>
                <li>Added: replies to comments.</li>
                <li>Added: options for comments (Reply and Like(still inop)).</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>12-03-2018: </strong>
            <ul>
                <li>Fixed bugs with case in usernames</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>11-03-2018: </strong>
            <ul>
                <li>Forum updates: </li>
                <ul>
                    <li>Fixed mins showing up as seconds.</li>
                    <li>Added: a creation date inside a forumThread.</li>
                    <li>Added: time since for comments</li>
                    <li>Added: default category as off-topic if user did not specify</li>
                    <li>Added: edit forumThread functionality</li>
                    <li>Added: edited display when a post has been edited</li>
                </ul>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>10-03-2018: </strong>
            <ul>
                <li>Forum updates: </li>
                <ul>
                    <li>Added: Comments to each forumThread.</li>
                    <li>Added: Time in sec, min, hour, etc. for threads.</li>
                    <li>Added: Time since last edit using above model^.</li>
                    <li>Added: Pagers (bottom page navigator)</li>
                    <li>Added: Results per page (server side, client side not yet implemented)</li>
                    <li>Added: Show page.</li>
                    <li>Added: Show page the likes, date, time since last edit, comments, description, title etc.</li>
                </ul>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>09-03-2018: </strong>
            <ul>
                <li>Added: Create forum functionality.</li>
                <li>Fixed bug: Relogging in makes a player in a running game rejoin as spectator.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>08-03-2018: </strong>
            <ul>
                <li>Added: Case insensitive usernames. Some usernames (that were not all lower-case) may have been
                    deleted.</li>
                <li>Added: Forum main page.</li>
            </ul>
        </li>


        <li class="list-group-item">
            <strong>06-03-2018: </strong>
            <ul>
                <li>Fixed bug: Guns disappear when a player votes succeed/fail</li>
            </ul>
        </li>


        <li class="list-group-item">
            <strong>05-03-2018: </strong>
            <ul>
                <li>Added: Kicking.</li>
                <li>Added: Hid avatar buttons (reveals on hover).</li>
                <li>Refactored: Inner workings of the code.</li>
                <li>Fixed bug: When a player leaves a room (before it starts) and rejoins, when the game starts they
                    have role undefined.</li>
            </ul>
        </li>


        <li class="list-group-item">
            <strong>04-03-2018: </strong>
            <ul>
                <li>Added: Framework for user commands.</li>
                <li>Added: /slap command.</li>
                <li>Added: Current role options for host in information bar.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>02-03-2018: </strong>
            <ul>
                <li>Expanded all chat in lobby for big screens.</li>
                <li>Fixed bug: Starting hammer star icon was incorrectly placed.</li>
                <li>Added: Red highlight avatar for client side.</li>
                <li>Re-Added: Font size edit.</li>
                <li>Changed borders of dark theme to black colour.</li>
                <li>Changed shade of black for input.</li>
                <li>Fixed some places where dark mode was not dark mode yet.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>28-02-2018: </strong>
            <ul>
                <li>Fixed bug: Sign up failing when no space bar is in username.</li>
            </ul>
        </li>


        <li class="list-group-item">
            <strong>27-02-2018: </strong>
            <ul>
                <li>Fixed bug: Game going into assassination mode with no assassin.</li>
                <li>Fixed bug: Oberon not showing up as spy after game finishes.</li>
                <li>Fixed bug: Lady of the Lake not showing up in gameplay text when game starts.</li>
                <li>Added: Player ready/not ready prompts when game is starting.</li>
                <li>Fixed bug: A player who was pushed up to host (because previous host left) was unable to start game.
                </li>
                <li>Added: Dark theme.</li>
                <li>Fixed bug: Spectators not receiving updated game-data as the game progresses.</li>
            </ul>
        </li>

        <li class="list-group-item">
            <strong>26-02-2018: </strong>
            <ul>
                <li>Made the register page neater. Added: live feedback. Minimum 4 chars password. Added: confirm
                    password input.</li>
                <li>Centered and Added: some padding to rules page.</li>
                <li>Fixed bug: Player left the room not showing when a user closes the window or refreshes while in a
                    game.</li>
                <li>Added: Highlighting avatars on client side.</li>
                <li>Changed fonts to be more consitent.</li>
                <li>Bolded key text in lobby.</li>
                <li>Re-styled the players online section.</li>
                <li>Fixed bug: XSS injection vulnerability.</li>
                <li>Fixed bug: Certain room chat append with special classes like gameplay-text not displaying
                    correctly.</li>
                <li>Fixed bug: Room not destroying when all players leave.</li>
                <li>Disallow the use of & n b s p ; command.</li>
                <li>Disallow the use of spaces in usernames.</li>
                <li>Added: highlighting chat on client side.</li>
            </ul>
        </li>




        <li class="list-group-item">
            <strong>25-02-2018: </strong>
            <ul>
                <li>Removed pretty much all of the '!' marks.</li>
                <li>Fixed bug: Could use Lady of the Lake on a previous holder.</li>
                <li>Made dynamic font sizing for different size screens. (Enhances mobile experience)</li>
                <li>Added: Custom size fonts.</li>
                <li>Added: Message when a player tries to start a game with less than 5 players.</li>
            </ul>
        </li>


        <li class="list-group-item">
            <strong>24-02-2018: </strong>
            <ul>
                <li>Removed log-in success green prompt.</li>
                <li>Removed some of the '!' marks.</li>
                <li>Made game clear data when leaving AND joining room.</li>
                <li>Changed "Home" to "Lobby" in header.</li>
                <li>Fixed dead "Lobby" link.</li>
                <li>Fixed active (grey) state on buttons in navbar.</li>
                <li>Fixed room chat not resetting when creating a new room.</li>
                <li>Extended tabs in game room to bottom of the screen. (Better mobile experience)</li>
                <li>Added: Yellow border to new messages.</li>
                <li>Fixed room destroying itself when a spectator leaves before game starts.</li>
            </ul>
        </li>


        <li class="list-group-item">
            <strong>23-02-2018: </strong>
            <ul>
                <li>Fixed button being overlapped and unable to be pressed.</li>
                <li>Added: Number of players in a game in lobby to see.</li>
                <li>Fixed width of the top nav-bar. Does not overflow to two rows now.</li>
                <li>Added: Miscellaneous tab in game room.</li>
                <li>Top avatar is now centered with mission boxes</li>
                <li>Added: Dynamic padding for the nav-tabs (so that all chat, game chat, vote history and misc don't
                    overflow to a 2nd row.</li>
                <li>Fixed single digit hour/minute showing instead of double digit. E.g. Time 3:15 should be 03:15.
                    (needs testing)</li>
            </ul>
        </li>


        <li class="list-group-item">
            <strong>22-02-2018: </strong>
            <ul>
                <li>Added: Lady of the Lake.</li>
                <li>Unable to copy paste certain game-sensitive text.</li>
                <li>Fixed assassination phase not triggering.</li>
                <li>Enhanced a lot of the user interface. Looks prettier. Also made it look nicer for phones. (But
                    please don't use landscape mode!)</li>
                <li>Cut down on a lot of empty space. Avatars now larger.</li>
                <li>Fixed android keyboards reducing size of text box for all chat and room chat.</li>
                <li>Changed the 'Nothing' and 'Disabled' text to a cross icon</li>
            </ul>
        </li>


        <li class="list-group-item">
            <strong>21-02-2018: </strong>
            <ul>
                <li>Added: Game options for role customisation.</li>
                <li>Added: Mordred.</li>
                <li>Added: Oberon.</li>
                <li>Lady of the lake not yet implemented. (But visible in the game options)</li>
                <li>M4 in 7p+ games now requires two fails.</li>
                <li>Fixed bug: Options cog not disappearing when a host leaves his own game and joins another (which
                    they didn't host).</li>
                <li>Gameplay text now states roles when game starts.</li>
                <li>Fixed bug: Hammer star not updating after each mission.</li>
                <li>Fixed bug: 2p Mission would fail when a previous 3p mission had a fail in the 3rd vote.</li>
            </ul>
        </li>


        <li class="list-group-item">
            <strong>19-02-2018: </strong>
            <ul>
                <li>Added: Vote History.</li>
                <li>Removed approved and rejected usernames from gameplay chat.</li>
                <li>Changed 'M' to 'Mission' in Vote History.</li>
                <li>Fixed bug: Player refresh causing them to receive spectator data instead of their own game data.
                </li>
                <li>Fixed bug: Resistance failing missions.</li>
                <li>Fixed bug: Timezone showing wrong hour in chat.</li>
            </ul>
        </li>



        <li class="list-group-item">
            <strong>17-02-2018: </strong>
            <ul>
                <li>First log.</li>
                <li>Most core gameplay features implemented.</li>
                <li>Gameplay text implemented.</li>
                <li>Show number of fails on a mission (e.g. spy double float) in gameplay text. </li>
            </ul>
        </li>
        <!-- <li class="list-group-item">First item</li> -->
    </ul>
</div>










<% include partials/footer%>