<% include partials/header%>

<style type="text/css">
#my-list li:nth-child(odd) {
	/*background-color: #eee;*/
}

div{
	margin-left: 15px;
	margin-right: 15px;
}

</style>




<div>
	<h1>Changelog!</h1>
	<ul class="list-group" id="my-list">

		<li class="list-group-item">
			<strong>29-03-2018: </strong>
			<ul>
				<li>Added time since last edit for replies.</li>
				<li>Added pinned thread features.</li>
				<li>Added very nice UI for text editing (Thank you <a style="padding: 0;" href="https://summernote.org/">summernote</a>!).</li>
			</ul>
		</li>

		<li class="list-group-item">
			<strong>25-03-2018: </strong>
			<ul>
				<li>Added edit feature for comments.</li>
				<li>Added edit feature for replies to comments.</li>
			</ul>
		</li>

		<li class="list-group-item">
			<strong>15-03-2018: </strong>
			<ul>
				<li>Fixed XSS in usernames.</li>
				<li>Added: Maximum 500 characters limit to each message.</li>
				<li>Added: Cookie support for user options to persist.</li>
				<li>Added: Dark theme persist (when you refresh, your setting stays).</li>
				<li>Added: Font-size persist (when you refresh, your setting stays).</li>
				<li>Added: Resize-able game room. Can change by dragging a bar on the screen on by typing in a new value in the options (easier to do on mobile).</li>
				<li>Fixed bug: 'player has left the room' displaying twice when they disconnect while in a room.</li>
				<li>Added: Player who just joined lobby now sees themself joining in all chat.</li>
				<li>Fixed same player with different case not being kicked out of old browser.</li>
				<li>Added: Automatically 'Not ready' command sent if user does not respond in 15 seconds.</li>
			</ul>
		</li>



		<li class="list-group-item">
			<strong>14-03-2018: </strong>
			<ul>
				<li>Added: delete functionality for forumThread.</li>
				<li>Added: replies to comments.</li>
				<li>Added: options for comments (Reply and Like(still inop)).</li>
			</ul>
		</li>

		<li class="list-group-item">
			<strong>12-03-2018: </strong>
			<ul>
				<li>Fixed bugs with case in usernames</li>
			</ul>
		</li>

		<li class="list-group-item">
			<strong>11-03-2018: </strong>
			<ul>
				<li>Forum updates: </li>
				<ul>
					<li>Fixed mins showing up as seconds.</li>
					<li>Added: a creation date inside a forumThread.</li>
					<li>Added: time since for comments</li>
					<li>Added: default category as off-topic if user did not specify</li>
					<li>Added: edit forumThread functionality</li>
					<li>Added: edited display when a post has been edited</li>
				</ul>
			</ul>
		</li>

		<li class="list-group-item">
			<strong>10-03-2018: </strong>
			<ul>
				<li>Forum updates: </li>
				<ul>
					<li>Added: Comments to each forumThread.</li>
					<li>Added: Time in sec, min, hour, etc. for threads.</li>
					<li>Added: Time since last edit using above model^.</li>
					<li>Added: Pagers (bottom page navigator)</li>
					<li>Added: Results per page (server side, client side not yet implemented)</li>
					<li>Added: Show page.</li>
					<li>Added: Show page the likes, date, time since last edit, comments, description, title etc.</li>
				</ul>
			</ul>
		</li>

		<li class="list-group-item">
			<strong>09-03-2018: </strong>
			<ul>
				<li>Added: Create forum functionality.</li>
				<li>Fixed bug: Relogging in makes a player in a running game rejoin as spectator.</li>
			</ul>
		</li>

		<li class="list-group-item">
			<strong>08-03-2018: </strong>
			<ul>
				<li>Added: Case insensitive usernames. Some usernames (that were not all lower-case) may have been deleted.</li>
				<li>Added: Forum main page.</li>
			</ul>
		</li>


		<li class="list-group-item">
			<strong>06-03-2018: </strong>
			<ul>
				<li>Fixed bug: Guns disappear when a player votes succeed/fail</li>
			</ul>
		</li>


		<li class="list-group-item">
			<strong>05-03-2018: </strong>
			<ul>
				<li>Added: Kicking.</li>
				<li>Added: Hid avatar buttons (reveals on hover).</li>
				<li>Refactored: Inner workings of the code.</li>
				<li>Fixed bug: When a player leaves a room (before it starts) and rejoins, when the game starts they have role undefined.</li>
			</ul>
		</li>

 
		<li class="list-group-item">
			<strong>04-03-2018: </strong>
			<ul>
				<li>Added: Framework for user commands.</li>
				<li>Added: /slap command.</li>
				<li>Added: Current role options for host in information bar.</li>
			</ul>
		</li>

		<li class="list-group-item">
			<strong>02-03-2018: </strong>
			<ul>
				<li>Expanded all chat in lobby for big screens.</li>
				<li>Fixed bug: Starting hammer star icon was incorrectly placed.</li>
				<li>Added: Red highlight avatar for client side.</li>
				<li>Re-Added: Font size edit.</li>
				<li>Changed borders of dark theme to black colour.</li>
				<li>Changed shade of black for input.</li>
				<li>Fixed some places where dark mode was not dark mode yet.</li>
			</ul>
		</li>

		<li class="list-group-item">
			<strong>28-02-2018: </strong>
			<ul>
				<li>Fixed bug: Sign up failing when no space bar is in username.</li>
			</ul>
		</li>


		<li class="list-group-item">
			<strong>27-02-2018: </strong>
			<ul>
				<li>Fixed bug: Game going into assassination mode with no assassin.</li>
				<li>Fixed bug: Oberon not showing up as spy after game finishes.</li>
				<li>Fixed bug: Lady of the Lake not showing up in gameplay text when game starts.</li>
				<li>Added: Player ready/not ready prompts when game is starting.</li>
				<li>Fixed bug: A player who was pushed up to host (because previous host left) was unable to start game.</li>
				<li>Added: Dark theme.</li>
				<li>Fixed bug: Spectators not receiving updated game-data as the game progresses.</li>
			</ul>
		</li>

		<li class="list-group-item">
			<strong>26-02-2018: </strong>
			<ul>
				<li>Made the register page neater. Added: live feedback. Minimum 4 chars password. Added: confirm password input.</li>
				<li>Centered and Added: some padding to rules page.</li>
				<li>Fixed bug: Player left the room not showing when a user closes the window or refreshes while in a game.</li>
				<li>Added: Highlighting avatars on client side.</li>
				<li>Changed fonts to be more consitent.</li>
				<li>Bolded key text in lobby.</li>
				<li>Re-styled the players online section.</li>
				<li>Fixed bug: XSS injection vulnerability.</li>
				<li>Fixed bug: Certain room chat append with special classes like gameplay-text not displaying correctly.</li>
				<li>Fixed bug: Room not destroying when all players leave.</li>
				<li>Disallow the use of  & n b s p ;  command.</li>
				<li>Disallow the use of spaces in usernames.</li>
				<li>Added: highlighting chat on client side.</li>
			</ul>
		</li>




		<li class="list-group-item">
			<strong>25-02-2018: </strong>
			<ul>
				<li>Removed pretty much all of the '!' marks.</li>
				<li>Fixed bug: Could use Lady of the Lake on a previous holder.</li>
				<li>Made dynamic font sizing for different size screens. (Enhances mobile experience)</li>
				<li>Added: Custom size fonts.</li>
				<li>Added: Message when a player tries to start a game with less than 5 players.</li>
			</ul>
		</li>


		<li class="list-group-item">
			<strong>24-02-2018: </strong>
			<ul>
				<li>Removed log-in success green prompt.</li>
				<li>Removed some of the '!' marks.</li>
				<li>Made game clear data when leaving AND joining room.</li>
				<li>Changed "Home" to "Lobby" in header.</li>
				<li>Fixed dead "Lobby" link.</li>
				<li>Fixed active (grey) state on buttons in navbar.</li>
				<li>Fixed room chat not resetting when creating a new room.</li>
				<li>Extended tabs in game room to bottom of the screen. (Better mobile experience)</li>
				<li>Added: Yellow border to new messages.</li>
				<li>Fixed room destroying itself when a spectator leaves before game starts.</li>
			</ul>
		</li>


		<li class="list-group-item">
			<strong>23-02-2018: </strong>
			<ul>
				<li>Fixed button being overlapped and unable to be pressed.</li>
				<li>Added: Number of players in a game in lobby to see.</li>
				<li>Fixed width of the top nav-bar. Does not overflow to two rows now.</li>
				<li>Added: Miscellaneous tab in game room.</li>
				<li>Top avatar is now centered with mission boxes</li>
				<li>Added: Dynamic padding for the nav-tabs (so that all chat, game chat, vote history and misc don't overflow to a 2nd row.</li>
				<li>Fixed single digit hour/minute showing instead of double digit. E.g. Time 3:15 should be 03:15. (needs testing)</li>
			</ul>
		</li>


		<li class="list-group-item">
			<strong>22-02-2018: </strong>
			<ul>
				<li>Added: Lady of the Lake.</li>
				<li>Unable to copy paste certain game-sensitive text.</li>
				<li>Fixed assassination phase not triggering.</li>
				<li>Enhanced a lot of the user interface. Looks prettier. Also made it look nicer for phones. (But please don't use landscape mode!)</li>
				<li>Cut down on a lot of empty space. Avatars now larger.</li>
				<li>Fixed android keyboards reducing size of text box for all chat and room chat.</li>
				<li>Changed the 'Nothing' and 'Disabled' text to a cross icon</li>
			</ul>
		</li>


		<li class="list-group-item">
			<strong>21-02-2018: </strong>
			<ul>
				<li>Added: Game options for role customisation.</li>
				<li>Added: Mordred.</li>
				<li>Added: Oberon.</li>
				<li>Lady of the lake not yet implemented. (But visible in the game options)</li>
				<li>M4 in 7p+ games now requires two fails.</li>
				<li>Fixed bug: Options cog not disappearing when a host leaves his own game and joins another (which they didn't host).</li>
				<li>Gameplay text now states roles when game starts.</li>
				<li>Fixed bug: Hammer star not updating after each mission.</li>
				<li>Fixed bug: 2p Mission would fail when a previous 3p mission had a fail in the 3rd vote.</li>
			</ul>
		</li>


		<li class="list-group-item">
			<strong>19-02-2018: </strong>
			<ul>
				<li>Added: Vote History.</li>
				<li>Removed approved and rejected usernames from gameplay chat.</li>
				<li>Changed 'M' to 'Mission' in Vote History.</li>
				<li>Fixed bug: Player refresh causing them to receive spectator data instead of their own game data.</li>
				<li>Fixed bug: Resistance failing missions.</li>
				<li>Fixed bug: Timezone showing wrong hour in chat.</li>
			</ul>
		</li>



		<li class="list-group-item">
			<strong>17-02-2018: </strong>
			<ul>
				<li>First log.</li>
				<li>Most core gameplay features implemented.</li>
				<li>Gameplay text implemented.</li>
				<li>Show number of fails on a mission (e.g. spy double float) in gameplay text. </li>
			</ul>
		</li>
		<!-- <li class="list-group-item">First item</li> -->
	</ul>	
</div>










<% include partials/footer%>