<% include partials/header%>

<style type="text/css">
ul[id="my-list"] li:nth-child(odd) {
	background-color: #eee;
}
</style>

<h1>Changelog!</h1>

<ul class="list-group" id="my-list">







	<li class="list-group-item">
		<strong>17-02-2018: </strong>
		<ul id="2nd-list">
			<li>First log.</li>
			<li>Most core gameplay features implemented.</li>
			<li>Gameplay text implemented.</li>
			<li>Show number of fails on a mission (e.g. spy double float) in gameplay text. </li>
		</ul>




	</li>
	<!-- <li class="list-group-item">First item</li> -->
</ul>









<% include partials/footer%>