<% include partials/header%>

<style type="text/css">
ul[id="my-list"] li:nth-child(odd) {
	background-color: #eee;
}
</style>

<h1>Changelog!</h1>

	<ul class="list-group" id="my-list">








		<li class="list-group-item">
			17-02-2018: First log. Most core gameplay features implemented. Gameplay text implemented.
		</li>
		<!-- <li class="list-group-item">First item</li> -->
	</ul>









<% include partials/footer%>