<% include partials/header%>

<style type="text/css">
#my-list li:nth-child(odd) {
	/*background-color: #eee;*/
}
</style>

<h1>Changelog!</h1>

<ul class="list-group" id="my-list">

	<li class="list-group-item">
		<strong>22-02-2018: </strong>
		<ul>
			<li>Added in Lady of the Lake.</li>
			<li>Unable to copy paste certain game-sensitive text.</li>
			<li>Fixed assassination phase not triggering.</li>
			<li>Enhanced a lot of the user interface. Looks prettier in general</li>
			<li>Added dynamic sizing for different window sizes. Also caters to phones. (But please do not use landscape mode!)</li>
		</ul>
	</li>


	<li class="list-group-item">
		<strong>21-02-2018: </strong>
		<ul>
			<li>Added game options for role customisation.</li>
			<li>Added Mordred.</li>
			<li>Added Oberon.</li>
			<li>Lady of the lake not yet implemented. (But visible in the game options)</li>
			<li>M4 in 7p+ games now requires two fails.</li>
			<li>Fixed bug: Options cog not disappearing when a host leaves his own game and joins another (which they didn't host).</li>
			<li>Gameplay text now states roles when game starts.</li>
			<li>Fixed bug: Hammer star not updating after each mission.</li>
			<li>Fixed bug: 2p Mission would fail when a previous 3p mission had a fail in the 3rd vote.</li>
		</ul>
	</li>


	<li class="list-group-item">
		<strong>19-02-2018: </strong>
		<ul>
			<li>Added Vote History.</li>
			<li>Removed approved and rejected usernames from gameplay chat.</li>
			<li>Changed 'M' to 'Mission' in Vote History.</li>
			<li>Fixed bug: Player refresh causing them to receive spectator data instead of their own game data.</li>
			<li>Fixed bug: Resistance failing missions.</li>
			<li>Fixed bug: Timezone showing wrong hour in chat.</li>
		</ul>
	</li>



	<li class="list-group-item">
		<strong>17-02-2018: </strong>
		<ul>
			<li>First log.</li>
			<li>Most core gameplay features implemented.</li>
			<li>Gameplay text implemented.</li>
			<li>Show number of fails on a mission (e.g. spy double float) in gameplay text. </li>
		</ul>
	</li>
	<!-- <li class="list-group-item">First item</li> -->
</ul>









<% include partials/footer%>