<% include partials/header %>

<div class="container">
	<h2>Sign up!</h2>

	<form action="/" method="POST" id="registerId">
		<input type="text" name="username" placeholder="Username">
		<input type="password" name="password" placeholder="Password">
		<button>Submit!</button>
	</form>
</div>

	






<% include partials/footer %>