<% include partials/header %>
<script src='https://www.google.com/recaptcha/api.js'></script>

<link rel="stylesheet" type="text/css" href="stylesheets/register.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>


<div class="container">

	<div class="container center myContainer">
		<h2><u>Sign up!</u></h2>

	<!-- 	<form action="/" method="POST" id="registerId">
			<input type="text" name="username" placeholder="Username">
			<input type="password" name="password" placeholder="Password">
			<button>Submit!</button>
		</form> -->
	</div>

	<br>

	<div class="container center" id="myDiv">

		<form class="form-horizontal" action="/" method="POST" id="registerId" data-toggle="validator">
			<div class="form-group" >
				<label class="alignLeft pull-left">Username</label>
				<input type="text" id="username" name="username" class="form-control" placeholder="Username" required>
				<div class="help-block with-errors"></div>
			</div>
			<div class="form-group">
				<label class="alignLeft pull-left">Password</label>
				<input type="password" name="password" class="form-control" placeholder="Password" required id="inputPassword" data-minlength="4">
				<!-- <div class="help-block">Minimum of 4 characters</div> -->
				<div class="help-block with-errors"></div>
			</div>

			<div class="form-group">
				<label class="alignLeft pull-left">Confirm password</label>
				<input type="password" name="confirmPassword" class="form-control" placeholder="Confirm password" required data-match="#inputPassword" data-match-error="Passwords do not match.">
				<div class="help-block with-errors"></div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default center">Submit</button>
				</div>
			</div>
			<br>

			<% if(locals.platform && platform === "online"){ %>
			<div class="g-recaptcha" data-sitekey="6LdaNWYUAAAAAEZaewme7gGpvL1c1_zPzbVKiF18"></div>
			<% } else{ %>
			<div>Platform is <%=platform%>. No need for captcha.</div>
			<% } %>

			<br>
			<div>
				<p>Note: Only alphanumerical characters are allowed in the username (a-z, A-Z and 1-9)</p>
			</div>
		</form>
	</div>

</div>


<% include partials/footer %>
