<% include partials/header%>


<style>

        #mainBodyContainer {
                background-color: rgb(245, 245, 245);
                border-radius: 10px;
                padding: 10px;
        }

        .dark #mainBodyContainer {
                background-color: #444444;
                color: #CCCCCC;
                /* border: 1px solid black; */
        }

</style>


<div class="container myContainer" id="mainBodyContainer">

        <img class="img-rounded pull-right" src="pictures/resistance.jpg">


        <h2><strong><u>Rules of The Resistance</u></strong></h2>
        <ul>
                <li>The game requires between five and ten players.</li>
                <li>Approximately one third of the players are randomly chosen as spies; the rest are members of the Resistance.</li>
                <li>The spies know who the other spies are, but Resistance members do not.</li>
                <li>The game consists of up to five missions.</li>
                <li>Each mission has a leader. The leader proposes a mission team of a certain size, which the group approves by public vote.</li>
                <li>If the group does not approve the mission by a simple majority, leadership passes to the next player.</li>
                <li>If the group cannot approve a mission team after five attempts, the spies win.</li>
                <li>Once a mission team is chosen, it votes by secret ballot whether the mission succeeds or fails.</li>
                <li>Resistance members will always vote for success, but spies have the option of voting for success or failure.</li>
                <li>It usually only takes one spy on the mission team to sabotage a mission, but sometimes the fourth mission requires two.</li>
                <li>If three missions succeed, the Resistance wins. If three fail, the spies win.</li>
        </ul>

        <p>And finally, the last, but most important rule of all:</p>

        <ul>
                <li>You are allowed to say anything, to any one, at any time -- as long as it is said publicly.</li>
        </ul>

        <p>Additionally, there are two rule variants:</p>

        <ol>
                <li><strong>Original Resistance</strong>: At the beginning of the first round of every mission, the leader distributes a number of plot cards from a shuffled deck to other players. These plot cards can be used to reveal additional pieces of information to certain players or to the entire group.</li>
                <li><strong>Resistance: Avalon</strong>: One of the Resistance players (designated "Merlin") is told who the spies are. He can use this knowledge to help his teammates, but beware -- the spies musn't figure out who Merlin is! At the end of the game, one of the spies (designated "the Assassin") is allowed to kill off one Resistance player; if he picks Merlin, the spies win!</li>
        </ol>
        <h2><strong><u>Site Rules</u></strong></h2>
        <p>The following outlines the list of site rules and associated punishments for ProAvalon. All rules are subject to one warning and then increasing ban lengths based on the amount of repeats (unless otherwise stated). Ban lengths begin at one day but can be increased based on the severity of the offence completed. </p>

        <h4>1. Language</h4>
        
        <p>Language rules include use of banned words/phrases, threats, or attacks on other players deemed by the moderators to be excessive. These rules extend to bios, forum posts and usernames.</p>
        
        <ol type="a">
                <li>No usage of words/phrases that fall under the following categories:</li>
                <dl>
                        <dt>1. Racist or homophobic remarks.</dt>
                        <dt>2. Slurs that reference gender, race, ability or sexual orientation.</dt>
                        <dt>3. Hate speech.</dt>
                        <dt>4. Remarks attacking religions or atheism.</dt>
                </dl>
                <li>No threats aimed at other players lives or wellbeing (including implied).</li>
                <li>No suicide recommendations (including implied).</li>
                <li>No excessive abuse towards a specific player or set of players.</li>
                <li>No spamming of chat messages or player interactions (slaps, buzzes etc).</li>
                <li>No sexual harassment or unwarranted sexual implications.</li>
        </ol>

        <h4>2. Gamethrowing</h4>
        
        <p>Gamethrowing rules refer to game actions completed against the player’s own team on purpose with ill intent.</p>
        
        <ol type="a">
                <li>The following are classed as gamethrowing:</li>
                <dl>
                        <dt>1. Repicking already failed teams as resistance and approving, or approving already failed teams that are picked by other players.</dt>
                        <dt>2. As resistance, rejecting hammer into a loss or when the team can be clean from your perspective.</dt>
                        <dt>3. As resistance, rejecting to a hammer who is confirmed spy from your perspective in a critical mission.</dt>
                        <dt>4. Any situation where it is beyond reasonable doubt that a player has intentionally played to lose the game.</dt>
                </dl>
                <li>The following are not classed as gamethrowing:</li>
                <dl>
                        <dt>1. Playing suboptimally unintentionally.</dt>
                        <dt>2. Ignoring the usual meta.</dt>
                        <dt>3. Playing in a specific way as one role.</dt>
                </dl>
        </ol>

        <h4>3. Unfair Influencing</h4>
        
        <p>Unfair influencing is defined as the use of methods that are deemed unfair or unsporting in order to gain an advantage over opponents or influence players in a game.</p>
        <ol type="a">
                <li>The following are classed as unfair influencing:</li>
                <dl>
                        <dt>1. Threatening to kick or ‘blacklist’ players in future.</dt>
                        <dt>2. Threatening to call moderators on players who are not breaking rules.</dt>
                        <dt>3. Threatening rage quits.</dt>
                        <dt>4. Leaving games and returning to show emotion or improve an argument.</dt>
                        <dt>5. Threatening to reveal your role card or power role information (through screenshots or other methods).</dt>
                        <dt>6. No pasting of relevant game-related text from the server.</dt>
                        <dt>7. Intentionally playing suboptimally to spite another player.</dt>
                        <dt>8. Intentionally holding biases toward specific players.</dt>
                        <dt>9. Having personal metas and claiming them (“I only off app as res”, “I only tell the truth”).</dt>
                </dl>
                <li>The following are not classed as unfair influencing:</li>
                <dl>
                        <dt>1. Holding personal metas, provided they aren’t claimed or used to influence the game.</dt>
                        <dt>2. Having long discussions, provided they follow the Stalling rules.</dt>
                </dl>
        </ol>

        <h4>4. Spectator Influencing</h4>
        
        <p>Spectator influencing (specfluencing) rules refer to the use of spectator chat or external methods in order to influence players in ongoing games or provide some sort of advantage to either team.</p>
        <ol type="a">
                <li>No providing suggestions for actions in ongoing games. This is including, but not restricted to:</li>
                <dl>
                        <dt>1. Team Picks</dt>
                        <dt>2. Pick Votes</dt>
                        <dt>3. Mission Votes</dt>
                        <dt>4. Assassinations</dt>
                        <dt>5. Mode Specific Item Usage (eg Lady of the Lake)</dt>
                </dl>
                <li>No unannounced coaching of players in ongoing games. Players may be coached if they announce beforehand.</li>
                <li>No providing game related information to players in ongoing games. This is including, but not restricted to:</li>
                <dl>
                        <dt>1. Stating opinions on the roles of players.</dt>
                        <dt>2. Quoting information from earlier in a game.</dt>
                        <dt>3. Stating strategy ideas for future missions.</dt>
                        <dt>4. Stating opinions on the current level of play.</dt>
                        <dt>5. Presenting deductions from information in a game.</dt>
                </dl>
        </ol>

        <h4>5. Cheating</h4>
        
        <p>Cheating rules refer to obtaining information outside the game with the express purpose of gaining an unfair advantage over others. No warnings.</p>
        <ol type="a">
                <li>No multi-accounting (Using two or more accounts in the same game).</li>
                <li>No sharing of game related information to other in-game players outside of the normal public game functions (chat, picks etc).</li>
                <li>No usage of voice chat unless agreed on by all involved players before the game begins.</li>
                <li>No revealing of secret info (role card, power role information) through the use of screenshots or other means.</li>
        </ol>
        
        <h4>6. Stalling</h4>
        
        <p>Stalling is defined as waiting on a pick or vote when you don’t have the required votes in order to push your pick through. If 50% or more of the players in the game have stated that your pick will be rejected or have asked you to move on, you cannot hold the pick or vote for longer than a 2 minute convincing period.</p>
        
        <ol type="a">
                <li>No stalling or threats to stall.</li>
        </ol>
        
        <h4>7. AFK (Away From Keyboard)</h4>
        
        <p>AFK rules refer to dealing with players that abandon games before they have completed necessary actions for their team. A player is deemed to be breaking AFK rules if they haven’t completed an action within 5 minutes without stated agreement from other players in the game. Other players are allowed to leave a game without punishment after the 5 minute AFK timer has been reached. Punishments will be administered based on whether the abandon was intentional or unintentional.</p>
        
        <ol type="a">
                <li>No going AFK for longer than a 5 minute period without agreement from other players in the game.</li>
                <li>No leaving games before actions required of you have concluded.</li>
        </ol>
        
        <h4>8. Inappropriate Links, Comments or Content</h4>
        
        <p>Inappropriate content rules refer to anything that goes beyond the scope of the site and is unwanted from either party. Warning subject to intensity.</p>
        
        <ol type="a">
                <li>No overtly sexual, violent or otherwise inappropriate content that will likely cause others discomfort.</li>
                <li>No links to websites or downloads containing obscene content.</li>
                <li>No links to malware.</li>
        </ol>
                
        <h4>9. Doxxing</h4>
        
        <p>Doxxing rules refer to those that protect player information.</p>
        
        <ol type="a">
                <li>No threatening to disclose or disclosing of another person’s personal information including, but not restricted to:</li>
                <dl>
                        <dt>1. Full name</dt>
                        <dt>2. Address, or pertinent locations</dt>
                        <dt>3. Social media handles</dt>
                </dl> 
        </ol>
        
        <h4>10. Miscellaneous</h4>

        <ol type="a">
                <li>No impersonating other players (usernames, chat styles, gameplay etc).</li>
        </ol>
        
        <h4>Footnotes</h4>
        
        <ol>
                <li>If a player breaks any of the above rules during a game, they will be banned and the game they are involved in will either be finished by moderator forcemoves (if possible) or voided and remade.</li>
                <li>Any and all attempts to evade bans will lead to ban extensions as if the original offence is repeated at the time of the evasion.</li>
                <li>For offences where intent is a part of the infraction, it is up to the moderators involved to deem whether said intent is beyond reasonable doubt.</li>
                <li>In fringe situations or situations that are not explicitly covered by this rule list, if the mod team agrees that a player has acted against fair play or basic decency, the moderators retain full discretion to decide an interpretation of the rules (or ideas behind the rules) that they deem fair for said situation.</li>
        </ol>
        
</div>


<% include partials/footer%>