<% include partials/header%>

<h3>Rules</h3>
<ul>
        <li>The game requires between five and ten players.</li>
        <li>Approximately one third of the players are randomly chosen as spies; the rest are members of the Resistance.</li>
        <li>The spies know who the other spies are, but Resistance members do not.</li>
        <li>The game consists of up to five missions.</li>
        <li>Each mission has a leader. The leader proposes a mission team of a certain size, which the group approves by public vote.</li>
        <li>If the group does not approve the mission by a simple majority, leadership passes to the next player.</li>
        <li>If the group cannot approve a mission team after five attempts, the spies win.</li>
        <li>Once a mission team is chosen, it votes by secret ballot whether the mission succeeds or fails.</li>
        <li>Resistance members will always vote for success, but spies have the option of voting for success or failure.</li>
        <li>It usually only takes one spy on the mission team to sabotage a mission, but sometimes the fourth mission requires two.</li>
        <li>If three missions succeed, the Resistance wins. If three fail, the spies win.</li>
</ul>

<p>And finally, the last, but most important rule of all:</p>

<ul>
        <li>You are allowed to say anything, to any one, at any time -- as long as it is said publicly.</li>
</ul>

<p>Additionally, there are two rule variants:</p>

<ol>
        <li><strong>Original Resistance</strong>: At the beginning of the first round of every mission, the leader distributes a number of plot cards from a shuffled deck to other players. These plot cards can be used to reveal additional pieces of information to certain players or to the entire group.</li>
        <li><strong>Resistance: Avalon</strong>: One of the Resistance players (designated "Merlin") is told who the spies are. He can use this knowledge to help his teammates, but beware -- the spies musn't figure out who Merlin is! At the end of the game, one of the spies (designated "the Assassin") is allowed to kill off one Resistance player; if he picks Merlin, the spies win!</li>
</ol>

<% include partials/footer%>