<% include ./partials/header %>


<style type="text/css">

    #mainBodyContainer {
        background-color: rgb(245, 245, 245);
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        width: 75%;
    }

    .dark #mainBodyContainer {
        background-color: #444444;
        color: #CCCCCC;
        width: 75%;
        /* border: 1px solid black; */
    }

</style>


<div class="container myContainer" id="mainBodyContainer">

    <h2 class="text-center"><%=contents%></h2> 

    <br>
    <br>
    <br>
</div>



<% include ./partials/footer %>
