<% include ./partials/header %>


<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>


<style>
    .myContainer {
        border-radius: 50px;

        padding-top: 5%;
        padding-bottom: 5%;
        margin-bottom: 30px;
        color: inherit;
        background-color: #eee;
        
        width:95%;
    }

    .myTable {
        border: 1px solid black;
        /* table-layout: fixed; */

        /* width: 100%; */
    }

    .myTable tbody tr td{
        border: 1px solid black;
    }

    .myTable thead tr td{
        border: 1px solid black;
    }

    .table-nonfluid {
        width: auto !important;
    }

    #gamesPlayedChart {
        width: 100%;
        /*height: 50%;*/
        border: 1px solid red;

        max-width: 1000px;
    }

</style>

<div class="container myContainer">
    <h1><u>Statistics</u></h1>


    <h3>Temporarily disabled... Sorry! Will get this back up asap.</h3>

</div>

<br>
<br>
<br>






<% include ./partials/footer %>





