<% include ./partials/header %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

<link rel="stylesheet" type="text/css" href="<%-getVersionedPath('/stylesheets/statistics.css')%>">

<div class="container myContainer">
    <h1><u>Statistics</u></h1>

    <div>
        <div id="loading">
            Loading...
        </div>

        <div id="statsDiv" class="hidden">
            Note: Stats are updated usually once a week (manual update for now). This set of statistics was created on: <span id="timeCreated"></span>

            <h3>Site traffic (Games played per day):</h3>
            <canvas id="gamesPlayedChart"></canvas>

            <h3>General stats:</h3>
            <table class="table myTable table-nonfluid">
                <tbody>
                    <tr>
                        <td class="statsCol1">Total games played: </td>
                        <td class="statsCol2" id="totalgamesplayed"></td>
                    </tr>
                    <tr>
                        <td class="statsCol1">Total Resistance wins: </td>
                        <td class="statsCol2" id="totalreswins"></td>
                    </tr>
                    <tr>
                        <td class="statsCol1">Total Spy wins: </td>
                        <td class="statsCol2" id="totalspywins"></td>
                    </tr>
                    <tr>
                        <td class="statsCol1">Average game duration: </td>
                        <td class="statsCol2" id="averagegameduration"></td>
                    </tr>
                </tbody>
            </table>

            <h3>Game size win rate breakdown:</h3>
            <table class="table myTable table-nonfluid">
                <tbody>
                    <thead>
                        <tr>
                            <td>Game size</td>
                            <td>Resistance</td>
                            <td>Spy</td>
                        </tr>
                    </thead>
                    <tr>
                        <td class="statsCol1">5P</td>
                        <td class="statsCol2" id="5preswin"></td>
                        <td class="statsCol2" id="5pspywin"></td>
                    </tr>
                    <tr>
                        <td class="statsCol1">6P</td>
                        <td class="statsCol2" id="6preswin"></td>
                        <td class="statsCol2" id="6pspywin"></td>
                    </tr>
                    <tr>
                        <td class="statsCol1">7P</td>
                        <td class="statsCol2" id="7preswin"></td>
                        <td class="statsCol2" id="7pspywin"></td>
                    </tr>
                    <tr>
                        <td class="statsCol1">8P</td>
                        <td class="statsCol2" id="8preswin"></td>
                        <td class="statsCol2" id="8pspywin"></td>
                    </tr>
                    <tr>
                        <td class="statsCol1">9P</td>
                        <td class="statsCol2" id="9preswin"></td>
                        <td class="statsCol2" id="9pspywin"></td>
                    </tr>
                    <tr>
                        <td class="statsCol1">10P</td>
                        <td class="statsCol2" id="10preswin"></td>
                        <td class="statsCol2" id="10pspywin"></td>
                    </tr>

                </tbody>
            </table>



            <h3>Assassinations:</h3>
            <table class="table myTable table-nonfluid">
                <tbody>
                    <tr>
                        <td class="statsCol1">Merlin shot: </td>
                        <td class="statsCol2" id="totalMerlinShot"></td>
                    </tr>
                    <tr>
                        <td class="statsCol1">Percival shot: </td>
                        <td class="statsCol2" id="totalPercivalShot"></td>
                    </tr>
                    <tr>
                        <td class="statsCol1">Resistance shot: </td>
                        <td class="statsCol2" id="totalResistanceShot"></td>
                    </tr>
                    <tr>
                        <td class="statsCol1">Average assassination time: </td>
                        <td class="statsCol2" id="averageassassinationduration"></td>
                    </tr>
                </tbody>
            </table>


            <h3>Spy wins breakdown:</h3>
            <table class="table myTable table-nonfluid">
                <tbody>
                    <tr>
                        <td class="statsCol1">Failing missions: </td>
                        <td class="statsCol2" id="spywinfailingmissions"></td>
                    </tr>
                    <tr>
                        <td class="statsCol1">Assassinating Merlin: </td>
                        <td class="statsCol2" id="spywinassassinatingmerlin"></td>
                    </tr>
                    <tr>
                        <td class="statsCol1">Hammer reject: </td>
                        <td class="statsCol2" id="spywinhammerreject"></td>
                    </tr>
                </tbody>
            </table>


            <h3>Lady starting team win rates</h3>
            <table class="table myTable table-nonfluid">
                <tbody>
                    <thead>
                        <tr>
                            <td></td>
                            <td>Resistance wins</td>
                            <td>Spy wins</td>
                        </tr>
                    </thead>
                    <tr>
                        <td class="statsCol1">Lady started with Resistance</td>
                        <td class="statsCol2" id="resStartResWin"></td>
                        <td class="statsCol2" id="resStartSpyWin"></td>
                    </tr>
                    <tr>
                        <td class="statsCol1">Lady started with Spy</td>
                        <td class="statsCol2" id="spyStartResWin"></td>
                        <td class="statsCol2" id="spyStartSpyWin"></td>
                    </tr>

                </tbody>
            </table>

            <h3>Game duration by size breakdown:</h3>
            <table class="table myTable table-nonfluid">
                <tbody>
                    <thead>
                        <tr>
                            <td>Game size</td>
                            <td>Average game duration</td>
                        </tr>
                    </thead>
                    <tr>
                        <td class="statsCol1">5P</td>
                        <td class="statsCol2" id="5paveragegameduration"></td>
                    </tr>
                    <tr>
                        <td class="statsCol1">6P</td>
                        <td class="statsCol2" id="6paveragegameduration"></td>
                    </tr>
                    <tr>
                        <td class="statsCol1">7P</td>
                        <td class="statsCol2" id="7paveragegameduration"></td>
                    </tr>
                    <tr>
                        <td class="statsCol1">8P</td>
                        <td class="statsCol2" id="8paveragegameduration"></td>
                    </tr>
                    <tr>
                        <td class="statsCol1">9P</td>
                        <td class="statsCol2" id="9paveragegameduration"></td>
                    </tr>
                    <tr>
                        <td class="statsCol1">10P</td>
                        <td class="statsCol2" id="10paveragegameduration"></td>
                    </tr>

                </tbody>
            </table>

            <br>
            <p>
                <a class="btn btn-info" href="/gameRecordsData">Download anonymized logs</a>
            </p>
            <br>
            <br>
            <br>

            <div id="testDiv">
            
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>

<script src="/scripts/statistics.js"></script>

<% include ./partials/footer %>
