<% include partials/header%>

<style type="text/css">
.active {
	/*border: 3px solid green !important;*/
	background-color: #d6ffd8 !important;

}

.btn-mine {
	border: 3px solid black;
	border-radius: 10px !important;
	background-color: #e5e5e5;
}
</style>

<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">
	<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
</button>

<button id="myButton">HIT ME</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h2 class="modal-title">Game options!</h2>
			</div>
			<div class="modal-body">
				<h4>Select the roles/items you would like in the game.</h4>
				<h6>Default roles have been pre-selected.</h6>


				<div class="btn-group-vertical" data-toggle="buttons">
					<label class="btn btn-mine active">
						<input type="checkbox" autocomplete="off" checked> Merlin + Assassin
					</label>
					<br>
					<label class="btn btn-mine active">
						<input type="checkbox" autocomplete="off" checked> Percival
					</label>
					<br>
					<label class="btn btn-mine active">
						<input type="checkbox" autocomplete="off" checked> Morgana
					</label>
					<br>
					<label class="btn btn-mine">
						<input type="checkbox" autocomplete="off"> Lady of the Lake
					</label>
					<br>
					<label class="btn btn-mine">
						<input type="checkbox" autocomplete="off"> Mordred
					</label>
					<br>
					<label class="btn btn-mine">
						<input type="checkbox" autocomplete="off"> Oberon
					</label>


				</div>


			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript">
	$("#myButton").on("click", function(){
		swal({
			title: "Game is starting!",
			text: "Roles are: as;dlkfj",
			icon: "info",
			// button: "Ready!",
			buttons: ["Not ready", "Ready"]
		}).then(function(value){
			// swal(("The returned value is: " + value));
		});
	});
</script>



<br>
<br>
<br>


<button type="button" class="btn btn-info" data-toggle="modal" data-target="#optionsModal" style="position:relative; left:40%;">
	<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
</button>



<style>
	#leftOptionsCategories ul li { 
		background: #EAEAEA; 
	}
	#leftOptionsCategories ul li:nth-child(odd) { 
		background: #E2E2E2;
	}

	.optionCategoriesText {
		margin: 0px;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	#leftOptionsCategoriesTable tbody tr td {
		border: transparent 2px solid;

		
	}

	#leftOptionsCategoriesTable tbody tr td:hover {
		border: green 2px solid;

	}

	.lobby-table {
		border-radius: 5px;
		/*border: 1px solid #ddd;*/
		border-collapse: separate;
		border-spacing: 1px;
	}

	#borderBar {
		border-left: 2px solid gray; 
		height: 100%;
		width:0px;
		padding: 0px;
		margin-left: 15px;
	}

	.optionsInputList {
		
	}

	.myActive {
		background: #ABABAB;
	}
	
	
</style>


<!-- Modal -->
<div id="optionsModal" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h2 class="modal-title">Settings</h2>
			</div>
			<div class="modal-body" >

				<div class="row" style="height: 60vh; ">

					<div id="leftOptionsCategories" class="col-xs-4 col-md-3">

						<table id="leftOptionsCategoriesTable" class="table table-bordered table-striped lobby-table">
							<tbody>
								<tr>
									<td id="generalOptionsButton" class="myActive">
										<span class="optionCategoriesText">
											General
										</span>
									</td>
								</tr>

								<tr>
									<td id="displayOptionsButton">
										<span class="optionCategoriesText">
											Display
										</span>
									</td>
								</tr>

								<tr>
									<td id="notificationsOptionsButton">
										<span class="optionCategoriesText">
											Notifications
										</span>
									</td>
								</tr>

								<tr>
									<td id="resetOptionsButton">
										<span class="optionCategoriesText">
											Reset
										</span>
									</td>
								</tr>
								
							</tbody>
						</table>
					</div>
					<div id="borderBar" class="col-xs-1">
					</div>

					<div id="rightOptionsMenu" class="col-xs-7 col-md-8">
						<div id="generalOptionsMenu">
							<h4><u>General: </u></h4>
							<div>
								<label>Font size: <input type="text" name="option_font_size_text" id="option_font_size_text" style="width: 3em;"></label>
							</div>
							<div>
								<label>Height of avatar area: <input type="text" name="option_avatar_container_height_text" id="option_avatar_container_height_text" style="width: 3em;"></label>
							</div>
						</div>


						<div id="displayOptionsMenu" class="hidden">
							<h4><u>Display: </u></h4>
							<div>
								<label>Dark theme: <input type="checkbox" name="option_dark_theme" id="option_dark_theme"></label>
							</div>
							<div>
								<label>Two tabs: <input type="checkbox" name="option_two_tabs" id="option_two_tabs"></label>
							</div>
						</div>

						


						<div id="notificationsOptionsMenu" class="hidden">
							<h4><u>Notifications: </u></h4>
							

							<h5><u>Sound: </u></h5>
							<div>
								<label>Enabled: <input type="checkbox" name="option_dark_theme" id="option_dark_theme"></label>
							</div>
							<div>
								<label>Volume: <input type="range" min=0 max=100 name="option_dark_theme" id="option_dark_theme"></label>
							</div>
							<div>
								<label>Players joining room: <input type="checkbox" name="option_dark_theme" id="option_dark_theme"></label>
							</div>
							<div>
								<label>Players joining game: <input type="checkbox" name="option_dark_theme" id="option_dark_theme"></label>
							</div>
							<div>
								<label>Game starting: <input type="checkbox" name="option_dark_theme" id="option_dark_theme"></label>
							</div>
							<div>
								<label>Your turn when not viewing: <input type="checkbox" name="option_dark_theme" id="option_dark_theme"></label>
							</div>
							<div>
								<label>Game ending: <input type="checkbox" name="option_dark_theme" id="option_dark_theme"></label>
							</div>
							<div>
								<label>Buzzing: <input type="checkbox" name="option_dark_theme" id="option_dark_theme"></label>
							</div>
							<div>
								<label>Slapping: <input type="checkbox" name="option_dark_theme" id="option_dark_theme"></label>
							</div>



							<h5><u>Desktop notifications: </u></h5>
							<div>
								<label>Enabled: <input type="checkbox" name="option_dark_theme" id="option_dark_theme"></label>
							</div>
							<div>
								<label>Players joining room: <input type="checkbox" name="option_dark_theme" id="option_dark_theme"></label>
							</div>
							<div>
								<label>Players joining game: <input type="checkbox" name="option_dark_theme" id="option_dark_theme"></label>
							</div>
							<div>
								<label>Game starting: <input type="checkbox" name="option_dark_theme" id="option_dark_theme"></label>
							</div>


							<div>
								<label>Enabled during game: <input type="checkbox" name="option_dark_theme" id="option_dark_theme"></label>
							</div>
							<div>
								<label>Your turn and not viewing the window: <input type="checkbox" name="option_dark_theme" id="option_dark_theme"></label>
							</div>
							<div>
								<label>Game finishes and not viewing the window: <input type="checkbox" name="option_dark_theme" id="option_dark_theme"></label>
							</div>


							<div>
								<label>Seconds before you can be buzzed again: <input type="text" name="option_dark_theme" id="option_dark_theme" style="width: 3em;"></label>
							</div>
						</div>



						<div id="resetOptionsMenu" class="hidden">
							<h4><u>Reset: </u></h4>
							<button class="btn btn-danger" onclick="resetCookies()">Reset all settings</button>

							<script src="/libraries/cookies_min.js"></script>
							<script>
								function resetCookies(){
									swal({
										title: "Do you really want to reset your settings?",
										text: "Settings such as height of gameplay area, dark mode, colour will be reset. You will not be able to recover your settings!",
										icon: "warning",
										buttons: ["Cancel", "Delete"],
										dangerMode: true,
										})
										.then((willDelete) => {
										if (willDelete) {
											
											//get all the keys
											var keys = docCookies.keys();
						
											//remove each item
											for(var i = 0; i < keys.length; i++){
												docCookies.removeItem(keys[i]);
											}
						
											swal("Poof! Your settings have been reset!", {
											icon: "success",
											}).then(() =>{
												//reload
												location.reload();
											});
						
											
										} else {
											swal("Your settings are safe!");
										}
									});
								}
							</script>
						</div>
						
					</div>



				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>

<script>

var a;

	var optionsList = [
		"general",
		"display",
		"notifications",
		"reset"
	]

	for(var i = 0; i < optionsList.length; i++){
		$("#" + optionsList[i] + "OptionsButton").on("click", function(){
			console.log(this);
			a = this;

			var openThisMenu = this.innerText.toLowerCase().slice(0, this.innerText.length) + "OptionsMenu";
			console.log("open this: " + openThisMenu);

			closeAllMenuOptions();

			$("#" + openThisMenu).removeClass("hidden");


			removeMyActiveOffAllButtons();
			this.classList.add("myActive");


		});
	}

	function closeAllMenuOptions(){
		for(var i = 0; i < optionsList.length; i++){
			$("#" + optionsList[i] + "OptionsMenu").addClass("hidden");
		} 
	}

	function removeMyActiveOffAllButtons() {
		for(var i = 0; i < optionsList.length; i++){
			$("#" + optionsList[i] + "OptionsButton").removeClass("myActive");
		} 
	}


</script>




<button onclick="testNotif()"> test notification </button>

<script>

	function testNotif(){
		
		if(Notification.permission !== "granted"){
			Notification.requestPermission();
		}

		else {

			var title = "The game is starting!";
			var options = {
				body:"Are you ready?",
				image:"/avatars/base-res.png"
			}

			var test = new Notification(title, options);
		}


	}

</script>


<% include partials/footer%>