<% include partials/header%>



<style>

   #mainBodyContainer{
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    padding: 10px;
    
    font-size: 18px;
   }

</style>

<div class="container" id="mainBodyContainer">

   




</div>

<% include partials/footer%>