<% include ../../../partials/header%>
<% include ../../../partials/forumInclude%>

    <div class="container" style="width: 70%; margin: 25px auto;">
        <button id="backButton" class="btn btn-warning" onclick="goBack()">Back</button>

        <h1 style="text-align: center;">Edit a reply</h1>

        <div>

            <form action="/forum/<%=forumThread.id%>/<%=comment.id%>/<%=reply.id%>?_method=PUT" method="POST">
            
                <div class="form-group">
                    <textarea id="textarea1" class="form-control" type="text" name="reply[text]" rows="10"><%=reply.text%></textarea>
                </div>

                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>

            <a href="/forum">Back</a>
        </div>


    </div>

<script>
    function goBack() {
        window.history.back();
    }

    $(document).ready(function() {
        $('#textarea1').summernote();
    });
</script>

    <% include ../../../partials/footer%>