<% include ../partials/header%>

<% include ../partials/forumInclude %>

    <div class="container" style="width: 70%; margin: 25px auto;">
        <button id="backButton" class="btn btn-warning" onclick="goBack()">Back</button>

        <h1 style="text-align: center;">Edit a thread</h1>

        <div>

            <form action="/forum/<%=forumThread.id%>?_method=PUT" method="POST">
                <div style="text-align: center;">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-success">
                            <input type="radio" autocomplete="off" name="avalon">Avalon
                        </label>
                        <label class="btn btn-info">
                            <input type="radio" autocomplete="off" name="offTopic">Off-topic
                        </label>
                        <label class="btn btn-warning">
                            <input type="radio" autocomplete="off" name="suggestion">Suggestions
                        </label>
                        <label class="btn btn-danger">
                            <input type="radio" autocomplete="off" name="bug">Bugs
                        </label>
                    </div>
                </div>
            
                <br>


                <div class="form-group">
                    <input class="form-control" type="text" value="<%=forumThread.title%>" name="forumThread[title]" maxlength="100">
                </div>

                <div class="form-group">
                    <textarea id="textarea1" class="form-control" type="text" name="forumThread[description]" rows="10"><%-forumThread.description%></textarea>
                </div>

                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>

            <a href="/forum">Back</a>
        </div>


    </div>

<script>
    function goBack() {
        window.history.back();
    }

    $(document).ready(function() {
        $('#textarea1').summernote();
    });

    
</script>

    <% include ../partials/footer%>