<% include ../partials/header%>

<link rel="stylesheet" type="text/css" href="/stylesheets/forum/show.css">

<div class="myContainer">

    <h2><%=forumThread.title%></h2>
    <p>By: <%=forumThread.author.username%>, <%=forumThread.timeCreated.toISOString()%></p>

</div>















<% include ../partials/footer%>