.avatarImg {
    width: 128px;
    height: 128px;
    margin-left: 10px;
    display: inline-block;
}

.avatarSet {
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 20px;
}

/*Below is the carousel container*/
.react-multi-carousel-list {
    max-width: 1100px;
}

.react-multi-carousel-item .avatarSet:hover {
    border-radius: 20px;
    transform: scale(1.05);
}

.react-multi-carousel-item .avatarSet:hover:not(.selected) {
    background-color: #e0e0e0;
}

.react-multi-carousel-item .avatarSet {
    margin: 15px;
    cursor: pointer;
    display: block;
    text-align: center;
    /*Avatar imgs total width = 296px. Add extra 40px to background highlight*/
    width: 336px;
}

.selected {
    background: #bbdefb;
}

.button-label {
    display: inline-block;
    padding: 6px 12px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(336px, 1fr));
    gap: 20px;
}

.grid-container .avatarSet:hover {
    border-radius: 20px;
    transform: scale(1.05);
}

.grid-container .avatarSet:hover:not(.selected) {
    background-color: #e0e0e0;
}

.grid-container .avatarSet {
    margin: 15px;
    cursor: pointer;
    display: block;
    text-align: center;
}

.grid-item .avatarImg {
    margin: 10px;
}
