html {
    height: 100%;
    /* border: 1px solid red; */
}

ol {
    list-style: none;
    padding: 0;
}

h1 {
    margin-top: 0px;
}

p {
    margin: 0;
}

#createButton {
    /* width: 100%; */
}

.forumsList li {
    margin-bottom: 1vh;
    border-left: 3px solid transparent;
}

.container-fluid {
    padding: 0px;
}

.discussionContainer {
    /* margin-left: -15px; */
    /* margin-right: 15px; */

    display: table;

    height: 100%;
    width: 100%;
}


.row {
    /* border: 1px red solid; */
    /* height: 4em; */
    /* margin-bottom: 1vh; */
}

.discussionTitleBox {
    border-radius: 5px;
    /* position: absolute; */
    height: 100%;
    /* display: flex; */
    /* align-items: center; */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    /* height: calc(100vh - 100px); */
    width: 75%;
    display: table-cell;
}

.discussionTitle {
    font-weight: bold;
}

.discussionRight {
    display: table-cell;
    width: 25%;

    vertical-align: middle;

    height: 100%;
    padding: 0px;

    /* padding-top: 20px;
    padding-bottom: 20px; */
}

.discussionDetail {
    font-size: 0.85em;
    color: #888;
}

.author {
    /* position: absolute; */
}

.likes {
    /* vertical-align: middle; */
}

span {
    white-space:nowrap;
}

.post-unseen {
    /* border-left-color: blue;
    border-left-style: dotted; */

    border-left: 3px solid #4c8fff !important; 

}

.discussionRight {
    color: black;
}

/* #my_posts {
    background-color: #36ccd1
} */