* {
    /* border: 1px solid red; */
}

h2 {
    margin: 0;
}

.myContainer {
    width: 75%;
    margin: 0 auto;

    background-color: rgb(212, 212, 212); 

    border-radius: 10px;
    padding: 10px;
}

