* {
    /* border: 1px solid red; */
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}

textarea {
    resize: vertical;
    width: 100%;
}

.mainComment {
    width: 100%;
}

.commentReply {
    width: 50%;
}

.myForumContainer {
    width: 75%;
    margin: 0 auto;
}

.postContainer {
    /*  */
    border-radius: 10px;
    padding: 10px;
}

.commentsContainer {
    /* background-color: rgb(255, 175, 175); */
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    padding: 10px;
}

.descriptionContainer {
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    padding: 10px;
}

.timeSince {
    color: #888888;
    padding-left: 10px;
}

.replyingUsername {
    color: #888888;    
}

.editForumThreadButtons .delete-form {
    display: inline-block;
}

.addCommentDiv {
    display: none;
}

.hidden {
    display: none;
}

.form-group {
    margin: 0;
}

.replyBox {
    margin-left: 10px;
    margin-top: 10px;
}

.replyToComment {
    margin-left: 40px;
    margin-bottom: 10px;
    font-size: 1em;

    padding-left: 5px;

    border-left: 3px solid transparent;
}

.commentOptions {
    /* display: none; */
    /*visibility: hidden;*/
}

.individualComment:hover .commentOptions,
.individualComment:hover .edit {
    /* display: block; */
    visibility: visible;
}

.individualComment{
    margin-bottom: 10px;
    border-left: 2px solid transparent;
    padding-left: 5px;
}



.edit {
    /* display: none; */
    /* visibility: hidden; */
}

.replyToComment:hover .edit {
    /* display: block; */
    visibility: visible;
}


:target {
    border: 2px dashed red;
}


.post-unseen {
    border-left: 3px solid #4c8fff !important;
    /* padding-left: 5px; */
}