* {
    /* border: 1px solid red; */
}

h2 {
    margin: 0;
}

.myContainer {
    width: 75%;
    margin: 0 auto;
}

.postContainer {
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    padding: 10px;
}

.commentsContainer {
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    padding: 10px;
}