<%- include('partials/header') %>

<style type="text/css">
    .reset-password {
        width: 340px;
        margin: 50px auto;
        margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        border: #b5b5b5 2px solid;
        padding: 30px;
    }
    .reset-password h2 {
        margin: 0 0 15px;
    }
</style>

<div class="reset-password">
    <h2 class="text-center">Your password has been reset!</h2>
    <br>
    <p> Your new password is: <b><%=newPassword%></b></p>
    <br>
    <p> Please change your password when you log on.</p>
    <br>
    <a href="/">Back to login</a>
</div>

<%- include('partials/footer') %>
