<% include partials/header%>


<style>

        #mainBodyContainer {
                background-color: rgb(245, 245, 245);
                border-radius: 10px;
                padding: 10px;
        }

</style>


<div class="container" id="mainBodyContainer">

        <h3>The site is currently down. Please check back later.</h3>
        
</div>


<% include partials/footer%>