<% include partials/header%>



<style>

   #mainBodyContainer{
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    padding: 10px;
    
    font-size: 18px;
   }

   .question {
        font-weight: 700;
   }

   .answer {
        list-style: none;
        padding-left: 15px;
        margin-bottom: 20px;
   }

</style>

<div class="container" id="mainBodyContainer">

   <h1>Troubleshooting / FAQ</h1>

   Please contact me through discord if you need assistance. My discord username and tag is pkvk9122 #6596.
   <br>
   <br>

    <ul>
        <li class="question">Question: I need to reset my password!</li>
        <li class="answer">Contact me directly through discord.</li>
        <li class="question">Question: I need to change my password!</li>
        <li class="answer">You can change your password within your profile.</li>
        <li class="question">Question: Nothing is loading!</li>
        <li class="answer">
            Refresh a couple times to see if that solves it. If not, please try to update your browser.
            Any modern browser is compatible with the site (one that supports web sockets). 
            If its still not solved, contact me through discord.
        </li>
        <li class="question">Question: My username is taken!</li>
        <li class="answer">Contact me directly through discord.</li>


    </ul>




</div>

<% include partials/footer%>