<h3>Rules for avatars*:</h3>
<div>
    Avatars:
    <ul>
        <li>Must be easily identifyable as res or spy.</li>
        <li>Must have at least 20% of the original colour (blue or red) and a minimum of the opposite allegiance's colour (approximation).</li>
        <li>Must not be inappropriate.</li>
        <li>Must have similar Res and Spy avatars.</li>
        <li>Must not be similar to any other existing custom avatars (unless the avatar was yours initially).</li>
        <li>Must be <%= VALID_DIMENSIONS_STR %> in size.</li>
        <li>Must be at most <%= MAX_FILESIZE_STR %> in size.</li>
        <li>Must be a png file.</li>
        <li>Must have a transparent background (solid white will hurt the eyes of dark theme users!).</li>
        <li>Must resemble the base avatar images.</li>
        <li>Must keep the wordage to a minimum.</li>
        <li>Moderators have the final say, based on their judgment. Feel free to consult them before making your avatars to ensure they will adhere to these guidelines.</li>
    </ul>
</div>

<h3>Who can request a custom avatar:</h3>
<div>
    Players:
    <ul>
        <li>Must have played at least 100 games (with the exception of old regular players).</li>
        <li>Must be an active player of the public Resistance community.</li>
        <li>Will not be allowed multiple avatars over a number of alternate accounts (open to discussion).</li>
    </ul>
</div>
<div>
    <br>
    <h4>You can access the base images here: </h4>
    <table>
        <tr>
            <td style="padding: 5px 15px;"><a href="/avatars/base-res-128x128.png">Resistance 128x128px png</a></td>
            <td style="padding: 5px 15px;"><a href="/avatars/base-spy-128x128.png">Spy 128x128px png</a></td>
        </tr>
        <tr>
            <td style="padding: 5px 15px;"><a href="/avatars/base-res-1024x1024.png">Resistance 1024x1024px png</a></td>
            <td style="padding: 5px 15px;"><a href="/avatars/base-spy-1024x1024.png">Spy 1024x1024px png</a></td>
        </tr>
        <tr>
            <td style="padding: 5px 15px;"><a href="/avatars/base-res.svg">Resistance svg</a></td>
            <td style="padding: 5px 15px;"><a href="/avatars/base-spy.svg">Spy svg</a></td>
        </tr>
    </table>
</div>

<br>
<p>*These requirements may or may not change in the future.</p>
<br>
