html, body{

	height: 100%;
	min-width: 360px;
}

.navbar-default{
	border: none;
}

body{
	/*height: 500px;*/
	min-height: 100%;
	width: 100%;
}

.navbar-brand{
	padding: 0;
	margin: 0;
}

#brand{
	height: 50px;
	margin: 0 0;
	padding: 0;
}

#notificationsList {
	min-width: 300px;
}

.swal2-popup {
	font-size: 1.6rem !important;
}

.fontButton{
	width: 30px;
	height: 30px;
	border: 1px solid black;
}

.dropdown-menu>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}

a>hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

.dropdown-menu>li>a:hover {
	background-color: transparent;
}

.notificationItem {
	position: relative;
	background-color: #eee;
	border-radius: 10px;
}

.notificationItem:hover {
	background-color: #ddd;
}

.notificationText {
	font-weight: 700;
}

.notificationDate {
	/* font-size: 0.5em; */
	padding: 5px 10px;
}

.notificationHide {
	/* font-size: 0.5em; */
	position: absolute;
	right: 10%;
}

.notificationHide:hover {
	color: blue;
	text-decoration: underline;
}

.hideAll {
	/* font-size: 0.5em; */
	position: absolute;
	right: 10%;
}

.hideAll:hover {
	color: blue;
	text-decoration: underline;
}

hr {
	padding-top:2px;
	padding-bottom: 2px;

	margin-top:2px;
	margin-bottom: 2px;
}

.unseen {
	background-color: rgba(188, 214, 255, 0.6)
}

.unseen:hover {
	background-color: rgba(188, 214, 255, 1) !important;
}

#navBarContainerId {
	 margin-left: 15px;
	 margin-right: 15px;
}

@media screen and (min-width:768px){
	.wideNavbarLink{
		display: block !important;
	}
	.narrowNavbarLink{
		display: none !important;
	}

	.dropdown:hover .dropdown-menu {
		display: block;
		/* remove the gap so it doesn't close */
		margin-top: 0; 
	}
}

@media screen and (max-width:768px){
	.wideNavbarLink{
		display: none !important;
	}
	.narrowNavbarLink{
		display: block !important;
	}
}

li a:focus {
	outline: none;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
	background-color: #e7e7e7;
	color: #555;
}

nav a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover,
.dropdown-menu > li > a:hover {
	background-color: #e7e7e7;
	color: #555;
}

.dropdown-menu > li > a {
	color: #777;
}

.dropdown-menu > li > a:hover {
	color: #555;
}

#leftOptionsCategories ul li {
	background: #EAEAEA;
}
#leftOptionsCategories ul li:nth-child(odd) {
	background: #E2E2E2;
}

.optionCategoriesText {
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#leftOptionsCategoriesTable tbody tr td {
	border: transparent 2px solid;

}

#leftOptionsCategoriesTable tbody tr td:hover {
	border: green 2px solid;

}

.lobby-table {
	border-radius: 5px;
	/*border: 1px solid #ddd;*/
	border-collapse: separate;
	border-spacing: 1px;
}

#borderBar {
	border-left: 2px solid gray;
	height: 100%;
	width:0px;
	padding: 0px;
	margin-left: 15px;
}

.optionsInputList {

}

.myActive {
	background: #ABABAB;
}

.subBox {
	border-radius: 15px;
	border: 1px dashed gray;
	padding-left: 15px;

	margin-bottom: 10px;
}

#rightOptionsMenu {
	overflow: auto;
}

.inactive-window{
	display: none;
}

nav div ul li a {
	padding-left: 10px !important;
	padding-right: 10px !important;
}