html, body{

	height: 100%;
	min-width: 360px;
}

.navbar-default{
	border: none;
}


body{
	/*height: 500px;*/
	min-height: 100%;
	width: 100%;
}

.navbar-brand{
	padding: 0;
	margin: 0;
}

#brand{
	height: 50px;
	margin: 0 0;
	padding: 0;
}
