html, body{

	height: 100%;
	min-width: 360px;
}

.navbar-default{

	border: none;
}


body{
	/*height: 500px;*/
	min-height: 100%;
	width: 100%;



}

.navbar-brand{
	padding: 0;
	margin: 0;
}

.input{
	width: 100%;
}


#brand{
	height: 50px;
	margin: 0 0;
	padding: 0;
}

/*#container{
	width: 75%;
	height: 100%;
	margin: 0 auto;
}*/

#scrollDiv{
	/*width: 370px;*/
	/*max-width: 100%;*/
	height: 100%;
	text-align: center;

	/* background-size: contain;
	background-image: url("/pictures/scroll-min.png");
	background-repeat: no-repeat;
	background-position: center; */

}

#loginText{
	font-size: 2em;
	text-align: center;
}
#usernameDiv{
	padding-bottom: 15%;
}

#form{

	position:absolute;

	
	text-align: left;

	/* height: 100%; */
	
	margin: 0 auto;
	box-sizing: border-box;

	overflow: hidden;

	/* transform: translateX(-50%); */


}
#loginHeading{
	text-align: center;
	font-weight: 700;
}
#signUpButton{
	float: right;
}