html,
body {
    height: 100%;
    width: 100%;
    /*font-size: 2vh;*/
    /*overflow: hidden;*/
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

ol {
    list-style: none;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.navbar {
    margin-bottom: 0px;
}

.well {
    margin-bottom: 0px;
    box-sizing: border-box;
    border: 2px solid transparent;
}
.showYourTurnNotification{
    border: orange solid 2px;
}

.well-sm {
    
}

/* Lobby items */

.lobby-container {
    height: 80%;
    /*width: 70%;*/
    margin-left: auto;
    margin-right: auto;
}

.gameRoomButton {
    display: block;
}

#current-games-list {
    /*display: block; */
    padding: 0;
}

.current-games-table-on {
    border-collapse: separate;
    border-spacing: 1px;
}

.current-games-table-off {
    border-collapse: collapse;
    border: transparent 1px solid;
}

.spectators-table-on {
    border-collapse: separate;
    border-spacing: 1px;
}

.spectators-table-off {
    border-collapse: collapse;
    border: transparent 1px solid;
}

#current-games-table tbody tr td {
    /*box-sizing:border-box;*/
    border: transparent 2px solid;
    /*margin: 10px;*/
}

#current-games-table tbody tr td:hover {
    border: green 2px solid;
}

.row {
    height: 100%;
}

.inactive-window {
    display: none;
}

#col1 {
    height: 100%;
}
#col2 {
    overflow: auto;
}

.full-height {
    height: 100%;
}

.tab-window {
    height: 90%;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: visible;
    padding: 5px;
}

.tab-window-full-bottom{
    height: -webkit-calc(100% + 29px);
    height: expression(100% + 29px);
    height: -moz-calc(100% + 29px);
    height: -o-calc(100% + 29px);
    height: calc(100% + 29px);
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: visible;
    padding: 5px;
}

.chat-window {
    height: 100%;
    display: block;
    /*max-height: 75%;*/
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: visible;
}

.chat-window ol li{
    padding-left: 1px;
    margin-bottom: 1px;
}

.chat-message-input {
    width: 100%;
    border: 2px solid #d3d3d3;
    border-radius: 5px;
}

.chat-list {
    padding: 5px;
    list-style: none;
    width: 100%;
    overflow: auto;
    word-wrap: break-word;
}

.other-chat {
    float: left;
    text-align: left;
    width: 100%;
}

.self-chat {
    color: purple;
    text-align: right;
    width: 100%;
}

#chat-list li {
    padding: 0.1rem;
    overflow: hidden;
    display: flex;
}

#current-players-table tbody tr td {
    /*box-sizing:border-box;*/
    border: transparent 2px solid;
    /*margin: 10px;*/
}

#spectators-table tbody tr td {
    /*box-sizing:border-box;*/
    border: transparent 2px solid;
    /*margin: 10px;*/
}

.lobby-table {
    border-radius: 5px;
    /*border: 1px solid #ddd;*/
    border-collapse: separate;
    border-spacing: 1px;
}

.dropdown-menu {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 200px;
}

.navbar-text {
    padding-left: 10px;
}

/* TEXT */

.server-text {
    /*color: #2378ff;*/
    /*color: #ff6b6b;*/
    color: #7c7c7c;
    /*font-style: italic;*/
}

.server-text-teal{
    color: teal;
}

.all-chat-text-red{
    color: #bd362f;
    font-weight: 700;
}

.all-chat-text-blue{
    color: #0044cc;
    font-weight: 700;
}

.spectator-chat{
    color: rgb(98, 98, 98);
}

.hidden-spectator-chat{
    /* color: rgb(98, 98, 98); */
    display: none;
}

.gameplay-text {
    /* color: rgb(255, 0, 0); */
    color: gray;
    font-style: italic;
}

.gameplay-text-red {
    /* color: rgb(255, 0, 0); */
    color: #bd362f;
    font-style: italic;
    font-weight: 700;
}

.gameplay-text-blue {
    /* color: rgb(255, 0, 0); */
    color: #0044cc;
    font-style: italic;
    font-weight: 700;
}

/* This is Lady */
.special-text {
    color: rgb(208, 0, 255);
    font-style: italic;
    font-weight: bold;
}

.username-text {
    font-weight: bold;
}

/*GAME-ROOM AREA*/

.room-container {
    height: 100%;
    /*background-color: purple;*/
    position: relative;
    /*border: solid 1px #d3d3d3;*/
    /*border-radius: 5px;*/
}

.game-container {
    /*height: is already set in the container at 90%*/
    height: 90%;
    min-height: 90%;
    max-height: 90%;

    padding-left: 10px;
    padding-right: 10px;
    /*width: 75%;*/
}

#mainRoomBox {
    height: 100%;
    margin-top: 10px;
    width: 100%;
    /*resize: none;*/
    /*position: absolute;*/
    /*position: relative;	*/
}

/*GAME-ROOM ITEMS*/

.playerDiv {
    display: inline-block;
    position: absolute;
    /*Slightly bias toward the top because of the words underneath the picture/div
	hence 40% */
    transform: translate(-50%, 100%);
    text-align: center;
    box-sizing: border-box;
    max-width: 128px;
    max-height: 128px;
    /* border: 5px solid transparent; */
}

.gunBefore {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.gunAfter {
    /* On top of the mission boxes (z-index: 10) in the center */
    z-index: 11;
    position: absolute;
    /* right: 0; */
    /* top: 33%; */
    /* width: 100%; */
}

.gun {
    pointer-events:none;
}

.role-p {
    padding: 0;
    background-color: #dddddd;
    border-radius: 5px;
}

.username-p {
    /*text-align: center;*/
    display: flex;
    justify-content: center;
}

.avatarImgInRoom {
    /*margin: 0 auto;*/
    object-fit: contain;
    /* width: auto; */
    /*height:auto;*/
    max-width: 100%;
    max-height: 100%;
    top: 0px;
    margin-left: 2px;
    
}

/* Highlighting/outlining of avatars/chat */

.highlight-avatar {
    background-color: #ffff00 !important;
    border-radius: 10px;
    /*padding-left: 10px;*/
    /*margin-left: -10px;*/
}

.highlight-participating {
    background-color: rgb(255, 255, 0) !important;
    border-radius: 10px;
}

.highlight-pick {
    background-color: rgb(255, 255, 0) !important;
    border-radius: 10px;
}

.highlight-participating-dark {
    background-color: rgba(255, 255, 0, 0.65)  !important;
    border-radius: 10px;
}

.highlight-pick-dark {
    background-color: rgba(255, 255, 0, 0.65)  !important;
    border-radius: 10px;
}

.outline-leader {
    box-shadow: 0 0 3pt 2pt red;
    border-radius: 10px;
}

.selected-chat {
    /* background-color: rgb(255, 255, 0); */
}

.selected-avatar-1 {
    background-color: #8BE38B;
    border-radius: 5px;
}

.selected-avatar-2 {
    background-color: #d9544f81;
    border-radius: 5px;
}

.avatarOptionButtons {
    position: absolute;
    top: 0px;
    left:15%;
    display: block;
    z-index: 1000;
}

.playerDiv .avatarButton {
    border: 2px solid #d3d3d3;
    padding: 2px;
    border-radius: 25%;
    transform: translateX(-90%);
    /*position: absolute;*/
    display: none;
    /*display: block;*/
}

.playerDiv:hover .avatarButton {
    display: block;
    /*background-color: purple;*/
}

/* Center well */

well {
    height: 54px;
}

.game-buttons-div {
    text-align: center;
    /* padding: 15px; */
    padding-top: 3px;
    /* margin-top: 10px; */
    /* position: relative; */
    /* bottom: 0%; */
    /* transform: translateY(-100%); */
}

.game-buttons-div button {
    margin-left: 5px;
    margin-right: 5px;
}

.center-div {
    text-align: center;
}

/* Mission box */

#missionsBox {
    /*text-align: center;*/
    position: absolute;
    z-index: 10;
    /*margin: auto;*/
    /* left: 49%; */
    top: 41%;
    transform: translateX(-50%);

    width: 35vw;
    max-width: 225px;
    max-height: 60px;
}

.missionBox {
    width: 7vmin;
    height: 7vmin;
    max-width: 40px;
    max-height: 30px;

    border-radius: 5px;
    float: left;
    margin-left: 1px;
    margin-right: 1px;
    display: table;
    vertical-align: middle;
    text-align: center;

    border: 0px solid black;

    background-color: #EFEFEF;
    color: rgb(124, 124, 124);
}

.missionBox p {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.3em;
}

.missionBoxSucceed {
    /*color: white;*/
    /* background-color: #BBFFBB; */
    background-color: #0044cc;
    opacity: 0.65;
    color: white;
}

.missionBoxFail {
    /*color: white;*/
    background-color: #bd362f;
    /* background-color: #ff6666; */
    opacity: 0.65;
    color: white;
}

/* black circles */

.pickBox {
    width: 3vmin;
    height: 3vmin;
    max-width: 15px;
    max-height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    float: left;
    margin-left: 1vh;
    margin-right: 1vh;
    /*position: absolute;*/
}

.pickBoxFill {
    background-color: black;
}

.row {
    width: 100%;
    margin: 5px;
    display: flex;
    justify-content: space-around;
}

/* Approve reject colours */

.approve {
    border: solid 5px green !important;
    border-radius: 10px;
}

.reject {
    border: solid 5px #ff6666 !important;
    border-radius: 10px;
}

.VHapprove {
    /*border: 1px black solid;*/
    background-color: #BBFFBB;
}

.VHreject {
    /*border: 1px black solid;*/
    background-color: #FFBBBB;
}

/* .VHpicked {
    background-image: url("/pictures/tick.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
} */

#voteHistoryTable .VHleader {
    border: black 3px solid;
}

/*Vote history*/

#voteHistoryTable tr td {
    border: 1px solid black;
    text-align: center;
}

/*MODALS*/

.btn-mine.active {
    /*border: 3px solid green !important;*/
    background-color: rgba(163, 244, 255, 0.6) !important;
}

.btn-mine {
    height: 40px;
    border: 3px solid black;
    border-radius: 10px !important;
    background-color: #e5e5e5;
}

/*This is for the special text like lady, so users cannot select to copy paste*/

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

input[type="text"] {
    padding-left: 5px;
    margin-top: 3px;
}

.nav-tabs {
    border: 0 solid black !important;
}

h3 {
    margin-top: 0px !important;
}

.nav-tabs li a {
    padding: 8px 12px !important;
    margin-right: 2px;
}

@media screen and (max-width: 480px) {
    .nav-tabs li a { 
        padding-left: 1vw !important;
        padding-right: 1vw !important;
        /* padding-top: 1vh !important; */
        /* padding-bottom: 1vh !important; */
    } 
 }

.game-buttons-div {
    /* padding-top: 1vh; */
    /* padding-bottom: 1vh; */
}

.newMessage {
    background-color: yellow;
}

/*Copied from boot strap*/

.btn-inverse {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #363636;
    background-image: -moz-linear-gradient(top, #444444, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
    background-image: -webkit-linear-gradient(top, #444444, #222222);
    background-image: -o-linear-gradient(top, #444444, #222222);
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
    border-color: #222222 #222222 #000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #222222;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
    color: #ffffff;
    background-color: #222222;
    *background-color: #151515;
}

.buttonDark {
    background-color: #363636;
    border: 1px solid black;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);   
}

#div1Resize {
    /* border: 1px solid black; */
    height: 40%;
    width: 100%;
    max-width: 95%;
    margin:auto;
}

.myHr {
    height: 2px;
    width: 100%;
    /* max-width: 90%; */
    margin: auto;
    background: rgb(161, 161, 161);
}

#div2Resize {
    /* border: 1px solid red; */
    /* max-width:1300px; */
    max-width: 95%;
    
    margin: auto;
}

.myQuote{
    color: rgb(107, 107, 107);
    padding-left: 10px;
    border-left: #ccc 3px solid;

}

.date-text{
    padding: 2px 4px;
    color: #d14;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    white-space: nowrap;
    /* line-height: 20px; */
    font-style: normal;

    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    /* font-size: 12px !important; */
    font-weight: normal;
}

.claimIcon{
    position: absolute;

    top: 0%;
    left: 0%;

    height: 40%;

    max-height: 45px;
    max-width: 45px;

    transform: translateX(-50%) translateY(-50%) rotate(-15deg) ;
    z-index: -999;
}

.leaveIcon{
    position: absolute;

    top: 0%;
    right: 0%;

    height: 30%;
    max-height: 50px;

    transform: translateX(30%) translateY(-50%);

    z-index: -999;

}

.leftRoom {
    /* filter: brightness(60%); */

    opacity: 0.3;
    filter: alpha(opacity=30); /* For IE8 and earlier */
}

#claimButton{
    position: absolute;
    right: 0%;

    top:5px;
}

#backButton {
    position: absolute;
    left: 0%;
    top:5px;
}

#room-chat-room-bar {
    border-bottom: 1px dashed red;
    
    /* position: absolute; */
    /* bottom: 0%; */
    /* height: 10px; */
    position: relative;
    bottom: 5px;
    width: 100%;
    /* margin-bottom: 3px; */
}

.chat-bar {
    border-bottom: 1px dashed red;
    position: relative;
    bottom: 5px;
    width: 100%;
}

.displayNoneClass {
    display: none;
}

#tabs1 {
    padding-left: 0px;
    padding-right: 0px;
}
#tabs2 {
    padding-left: 0px;
    padding-right: 0px;
}

.tabs1TwoTabs {
    padding-left: 0px;
}

.tabs2TwoTabs {
    padding-right: 0px;
}

.unhide {
    display: inline !important;
}

.showFaded{

}

.faded {
    opacity: 0.5 !important;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    visibility: visible !important;
    /* display:block; */
}

.approveLabel {
    position: absolute;
    top: -10%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
}

.rejectLabel {
    position: absolute;
    top: -10%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
}

.cardsContainer {
    position: absolute;
    right: 0%;
    transform: translateX(100%);
    /* float: right; */
}
.cardObject {
    /* position: absolute; */
    display: block;
    width: 16px;
    height: 16px;
}

.whisper {
    color: mediumpurple;
    font-weight: 700;
}

.lobbyMissionBox {
    display: inline-block;
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 5px;
    transform: translateY(2px);
}

.missionBoxDefault {
    background-color: #EFEFEF;
    color: rgb(124, 124, 124);
    border: rgb(87, 87, 87) 1px solid;
}

.gameInfoMaxPlayers {
    position: absolute;
    bottom: 0%;
    right: 0%;

    /* top: 50%;
    left: 50%; */

    /* border: 1px solid gray; */
    /* background-color: rgb(231, 231, 231); */

    /* padding: 3px; */

    /* border-radius: 10px; */

    transform: translate(-10%, -20%);
}

.roleCardDescription {
    /* height: 38px; */
    /* transform: translateY(50%); */
    display: block;
    margin-bottom: 0px;
}

/* .dark .panel-body {
    background-color: #444444;
}

.dark .panel-default .panel-heading {
    background-color: #333333;
    color: white;
    border-color: transparent;
}

.dark select {
    background-color: #444444;
} */

.highlightChatButtonSelected {
    background-color: #BBFFBB
}

.glyphicon-ok {
    color: black
}

.dark .all-chat-text-blue {
     color: #0087d6
 }

.dark .all-chat-text-red {
    color: #fc4141
}