* {
	/*outline: 1px solid red;*/
}


html, body{
	height: 100%;
	width: 100%;
	/*overflow: hidden;*/
}

p {
	margin: 0;
	padding: 0;
}

.server-text {
	color: #2378ff;
	font-style: italic;
}

.gameplay-text {
	color: rgb(255,0,0);
	font-style: italic;
}

.date-text {
	background: #efefef;

}

.username-text {
	font-weight: bold;
}

.hi-there {
	border-bottom: 2px solid black
}


.lobby-container {
	height: 90%;
}

.gameRoomButton {
	display: block;
}

#current-games-list {
	/*display: block; */
	padding: 0;
}

.current-games-table-on{
	border-collapse:separate; 
	border-spacing: 1px;
}

.current-games-table-off{
	border-collapse: collapse;
	border: purple 1px solid;
}

#current-games-table tbody tr td {
	/*box-sizing:border-box;*/
	border: transparent 2px solid;
	/*margin: 10px;*/
}


#current-games-table tbody tr td:hover {
	border: green 2px solid;
}

.row {
	height: 100%;
}

.inactive-window{
	display: none;
}

.chat-message-input {
	width: 100%;
	border: 2px solid black;
	/*float: bottom;*/
	/*bottom: 0;*/
	/*position: absolute;*/

/*	width: 400px;
	margin: 0 auto;
	border: solid 1px #ccc;
	border-radius: 5px;
	overflow: hidden;*/

	/*INSERT SOM HEIGHT THING HERE*/
}
#col1{
	height: 100%;
}

.full-height {
	height: 100%;
}

.chat-window {
	height: 75%;
	display:block;
	max-height: 75%;
	border: 1px solid black;
	overflow-y: auto;
	overflow-x: visible;
}

.chat-list {
	padding: 5px;

	list-style: none;
	width: 100%;
	overflow: auto;
}

.other-chat {
	float: left;
	text-align: left;
	width: 100%;
}

.self-chat {
	color: purple;
	text-align: right;
	width: 100%;
}

#chat-list li {
	padding: 0.1rem;
	overflow: hidden;
	display: flex;
}






/*GAME-ROOM AREA*/

.room-container {
	height: 40%;
	/*background-color: purple;*/
	position: relative;
}

.game-container{
	/*height: is already set in the container at 90%*/
	height: 90%;
	/*width: 75%;*/
}

#mainRoomBox {
	height: 100%;
	width: 100%;
	/*resize: none;*/
	/*position: absolute;*/
	/*position: relative;	*/

	border: solid 1px black;

}

.room-container #mainRoomBox div {
	display: inline-block;
	position: absolute;
	/*transform: translate(50%, 50%);*/

	/*Slightly bias toward the top because of the words underneath the picture/div
	hence 40% */
	transform:translate(-50%, 40%); /* centered first regardless of width*/
	/*background-color: #eeeeee; */

	text-align: center;


	/*min-width: 30px;*/
	/*min-height: 30px;*/

	max-width: 128px;
	max-height: 128px;
	/*width: 30%;*/
	/*height: 25%;*/
}

.leaderStar {
	z-index: 2;
	position: absolute;
	right: 0;
	/*bottom: 0;*/

	transform: translateY(-100%);
}

.bullet{
	top: -60px;
	/*left: -200px;*/
	position: absolute;
	transform: translate(-50%, 50%);
	width: 50px;
	height: 50px;
}

.gun {
	z-index: 2;
	position: absolute;
	right: 0;
	top: 33%;
	width: 100%;
}

.role-p	{
	padding: 0;
	background-color: #dddddd;
	border-radius: 5px;
}

.username-p {
	text-align: center;
}


.avatarImgInRoom {
	/*margin: 0 auto;*/
	object-fit: contain;

	width:auto;
	/*height:auto;*/
	max-width:100%;
	max-height:100%;

	top: 0px;

}

.highlight-avatar {
	background-color: #ffff00;
	border-radius: 10px;

	/*padding-left: 10px;*/
	/*margin-left: -10px;*/
}


.game-buttons-div {
	text-align: center;
	padding: 15px;
}

.game-buttons-div button {
	margin: 0 15px 0 15px;
}

.center-div {
	text-align: center;
}

#missionsBox {
	/*text-align: center;*/
	position: absolute;
	/*margin: auto;*/
	left: 50%;
	top: 40%;

	transform: translateX(-50%);
}

.missionBox {
	width: 30px;
	height: 30px;
	border: 1px solid black;
	border-radius: 5px;
	float: left;
	margin-left: 3px;
	margin-right: 3px;
	/*position: absolute;*/

	text-align: center;
}

.missionBoxSucceed {
	color: white;
	background-color: green;
}
.missionBoxFail {
	color: white;
	background-color: red;
}

.pickBox {
	width: 20px;
	height: 20px;
	border: 1px solid black;
	border-radius: 15px;
	float: left;
	margin-left: 3px;
	margin-right: 3px;
	/*position: absolute;*/
}

.pickBoxFill {
	background-color: black;
}

.row {
	width: 100%;
	margin: 5px;

	display: flex;
	justify-content: space-around;
}

.approve {
	border: solid 5px green;
	border-radius: 10px;
}

.reject {
	border: solid 5px red;
	border-radius: 10px;
}






/*Vote history*/
table, th, td {
    border: 1px solid black;
}