
/** {
	border: 1px red solid;
}*/

.myContainer {
	padding-top: 30px;
}

.form-group {
	
}
.alignLeft {
	text-align: left;
}

.center {
	text-align: center;
}


form {
	vertical-align: bottom;
}

#myDiv {
	width: 100%;
	max-width: 300px;

}

li {
	margin: auto;
}