<% include ../partials/header%>



<style>

   #mainBodyContainer{
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    padding: 10px;
    
    font-size: 18px;
   }

   .question {
        font-weight: 700;
   }

   .answer {
        list-style: none;
        padding-left: 15px;
        margin-bottom: 20px;
   }

</style>

<div class="container" id="mainBodyContainer">

   <h1>How to get a good link for custom avatars:</h1>

   <br>
   <br>

   <h3><a href="https://imgbb.com/">https://imgbb.com/:</a></h3>
    <ol>
        <li>Upload your resistance image.</li>
        <li>Right click your uploaded image and click "Copy image address/location".</li>
        <li>Paste this link into the form, and repeat for the spy image.</li>
    </ol>

    <h3>Discord:</h3>
    <ol>
        <li>Send your image to anyone on discord (doesn't matter who) or to any server chat (doesn't matter which).</li>
        <li>Left click on it to open it.</li>
        <li>Click on "Open original".</li>
        <li>Copy paste that link into the form.</li>
    </ol>

    Please contact me through discord if you need assistance. My discord username and tag is pkvk9122 #6596.




</div>

<% include ../partials/footer%>