<%- include('../partials/header') %>

<link rel="stylesheet" type="text/css" href="../stylesheets/profile.css">

<style>
    .myContainer {
        border-radius: 50px;

        padding-top: 5%;
        padding-bottom: 5%;
        margin-bottom: 30px;
        color: inherit;
        background-color: #eee;
        
        width:95%;
    }

    .myTable {
        border: 1px solid black;
        /* table-layout: fixed; */

        /* width: 100%; */
    }

    .myTable tbody tr td{
        border: 1px solid black;
    }

    .myTable thead tr td{
        border: 1px solid black;
    }

    .table-nonfluid {
        width: auto !important;
    }

    .alignCenterHoriz{
        text-align: center;
        background: rgb(200,200,200);
    }

</style>


<div class="container myContainer">
    <h1><u>Request an avatar!</u></h1>

    <h3>Rules for avatars:</h3>
    <div>
        Avatars:
        <ul>
            <li>Must be easily identifyable as res or spy.</li>
            <li>Must have at least 20% of the original colour (blue or red) and a minimum of the opposite allegiance's colour (approximation).</li>
            <li>Must not be inappropriate.</li>
            <li>Must have similar Res and Spy avatars.</li>
            <li>Must not be similar to any other existing custom avatars (unless the avatar was yours initially).</li>
            <li>Must be 128x128 px in size.</li>
            <li>Must be a png file.</li>
            <li>Must have a transparent background (solid white will hurt the eyes of dark theme users!).</li>
            <li>Must resemble the base avatar images.</li>
            <li>Must keep the wordage to a minimum.</li>
            <li>Must be hosted on Discord or Imgbb. Click <a href="/profile/avatargetlinktutorial">here</a> for a tutorial on how to get a good link.</li>
            <li>Moderators have the final say, based on their judgment. Feel free to consult them before making your avatars to ensure they will adhere to these guidelines.</li>

        </ul>
    </div>

    <h3>Who can request a custom avatar:</h3>
    <div>
        Players:
        <ul>
            <li>Must have played at least 100 games (with the exception of old regular players).</li>
            <li>Must be an active player of the public Resistance community.</li>
            <li>Will not be allowed multiple avatars over a number of alternate accounts (open to discussion).</li>
        </ul>
    </div>
    <div>
    <br>
        <h4>You can access the base images here: </h4>
        <a style="padding-left: 10px;" href="https://www.proavalon.com/avatars/base-res.png">Resistance image</a>
        <br>
        <a style="padding-left: 10px;" href="https://www.proavalon.com/avatars/base-spy.png">Spy image</a>
    </div>
    <br>

    These requirements may or may not change in the future.

    <br>
    <br>

    <h4><u>If you think your avatar meets these requirements, please fill in the form below:</u></h4>


    <br>
    <br>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">Res img:</div>
                <div class="panel-body alignCenterHoriz" id="resAvatarPreview">
                    <p>No files currently selected for upload</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading">Spy img:</div>
                <div class="panel-body alignCenterHoriz" id="spyAvatarPreview">
                    <p>No files currently selected for upload</p>
                </div>
            </div>
        </div>
    </div>

    <form action="/profile/<%=userData.username%>/changeavatar" method="post" id="customAvatarSubmissionForm" enctype="multipart/form-data">
        <div class="form-group">
            <label for="resAvatarFile">Resistance avatar image</label>
            <input type="file" id="resAvatarFile" class="avatarFile" accept="image/png, .png" name="avatarRes">
        </div>

        <div class="form-group">
            <label for="spyAvatarFile">Spy avatar image</label>
            <input type="file" id="spyAvatarFile" class="avatarFile" accept="image/png, .png" name="avatarSpy">
        </div>

        <br>
        <br>
        
        <div class="form-group">
            <label for="msgToMod">Message to the moderators: (Optional)</label>
            <input name="msgToMod" class="form-control" id="msgToMod" placeholder="Message">
        </div>

        <br>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>


</div>

<br>



<script>

$(document).ready(() => {
    const MIN_GAMES_REQUIRED = 100;

    $("#resAvatarFile").on("change", (e) => {
        updateAvatarDisplay(e.target.files[0], "#resAvatarPreview");
    });

    $("#spyAvatarFile").on("change", (e) => {
        updateAvatarDisplay(e.target.files[0], "#spyAvatarPreview");
    });

    $("#customAvatarSubmissionForm").on("submit", async (e) => {
        e.preventDefault();

        const totalGamesPlayed = "<%= userData.totalGamesPlayed %>";

        if (totalGamesPlayed < MIN_GAMES_REQUIRED) {
            alert("You must play at least 100 games before you can submit a custom avatar.");
            return;
        }

        const resAvatarFile = $("#resAvatarFile")[0].files[0];
        const spyAvatarFile = $("#spyAvatarFile")[0].files[0];

        const resValid = await updateAvatarDisplay(resAvatarFile, "#resAvatarPreview");
        const spyValid = await updateAvatarDisplay(spyAvatarFile, "#spyAvatarPreview");

        if (resValid && spyValid) {
            document.getElementById("customAvatarSubmissionForm").submit();
        } else {
            alert("Please upload a valid custom Res and Spy avatar.");
        }
    })
});


async function updateAvatarDisplay(file, previewId) {
    const VALID_DIMENSIONS = [128, 1024];
    const preview = document.querySelector(previewId);
    let valid = false;

    while (preview.firstChild) {
        preview.removeChild(preview.firstChild);
    }

    const para = document.createElement("p");

    if (!file) {
        para.textContent = "No files currently selected for upload";
        preview.appendChild(para);
    } else if (file.type !== "image/png") {
        para.textContent = "Invalid: Selected file is not a PNG image";
        preview.appendChild(para);
    } else {
        const image = document.createElement("img");

        image.src = URL.createObjectURL(file);
        image.alt = file.name;

        preview.appendChild(image);

        await new Promise((resolve) => {
            image.onload = () => {
                para.textContent = `Image dimensions: ${image.width}x${image.height}px`;
                preview.appendChild(para);

                const validation = document.createElement("p");

                if (!VALID_DIMENSIONS.includes(image.width) || !VALID_DIMENSIONS.includes(image.height)) {
                    let validDimStr = '';

                    VALID_DIMENSIONS.forEach((dimension, index) => {
                        validDimStr += `${dimension}x${dimension}px`;
                        if (index !== VALID_DIMENSIONS.length - 1) {
                        validDimStr += " or ";
                        }
                    });

                    validation.textContent = `Invalid: Image should be either ${validDimStr}.`;
                } else {
                    valid = true;
                }

                image.width = 128;
                image.height = 128;

                preview.appendChild(validation);
                resolve();
            };
        });
    }

    return valid;
}

</script>

<%- include('../partials/footer') %>
