<% include ../partials/header %>

<link rel="stylesheet" type="text/css" href="../stylesheets/profile.css">

<style>
    .myContainer {
        border-radius: 50px;

        padding-top: 5%;
        padding-bottom: 5%;
        margin-bottom: 30px;
        color: inherit;
        background-color: #eee;
        
        width:95%;
    }

    .myTable {
        border: 1px solid black;
        /* table-layout: fixed; */

        /* width: 100%; */
    }

    .myTable tbody tr td{
        border: 1px solid black;
    }

    .myTable thead tr td{
        border: 1px solid black;
    }

    .table-nonfluid {
        width: auto !important;
    }

    .alignCenterHoriz{
        text-align: center;
        background: rgb(200,200,200);
    }

</style>


<div class="container myContainer">
    <h1><u>Request an avatar!</u></h1>

    <h3>Rules for avatars:</h3>
    <div>
        Avatars:
        <ul>
            <li>Must be easily identifyable as res or spy.</li>
            <li>Must have at least 20% of the original colour (blue or red) and a minimum of the opposite allegiance's colour (approximation).</li>
            <li>Must not be inappropriate.</li>
            <li>Must have similar Res and Spy avatars.</li>
            <li>Must not be similar to any other existing custom avatars (unless the avatar was yours initially).</li>
            <li>Must be 128x128 px in size.</li>
            <li>Must be a png file.</li>
            <li>Must have a transparent background (solid white will hurt the eyes of dark theme users!).</li>
            <li>Must resemble the base avatar images.</li>
            <li>Must keep the wordage to a minimum.</li>
            <li>Must be hosted on Discord or Imgbb. Click <a href="/profile/avatargetlinktutorial">here</a> for a tutorial on how to get a good link.</li>
            <li>Moderators have the final say, based on their judgment. Feel free to consult them before making your avatars to ensure they will adhere to these guidelines.</li>

        </ul>
    </div>

    <h3>Who can request a custom avatar:</h3>
    <div>
        Players:
        <ul>
            <li>Must have played at least 100 games (with the exception of old regular players).</li>
            <li>Must be an active player of the public Resistance community.</li>
            <li>Will not be allowed multiple avatars over a number of alternate accounts (open to discussion).</li>
        </ul>
    </div>
    <div>
    <br>
        <h4>You can access the base images here: </h4>
        <a style="padding-left: 10px;" href="https://www.proavalon.com/avatars/base-res.png">Resistance image</a>
        <br>
        <a style="padding-left: 10px;" href="https://www.proavalon.com/avatars/base-spy.png">Spy image</a>
    </div>
    <br>

    These requirements may or may not change in the future.

    <br>
    <br>

    <h4><u>If you think your avatar meets these requirements, please fill in the form below:</u></h4>


    <br>
    <br>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">Res img:</div>
                <div class="panel-body alignCenterHoriz">
                    <img class="avatarImg resImg">
                    <div class="imgdimensions">Loading</div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading">Spy img:</div>
                <div class="panel-body alignCenterHoriz">
                    <img class="avatarImg spyImg">
                    <div class="imgdimensions">Loading</div>
                    
                </div>
            </div>
        </div>
    </div>


    <form action="/profile/<%=userData.username%>/changeavatar" method="post">
        <div class="form-group">
            <label for="reslink">Resistance avatar image link</label>
            <input name="reslink" type="url" class="form-control" id="reslink" placeholder="Resistance image link">
        </div>

        <div class="form-group">
            <label for="spylink">Spy avatar image link</label>
            <input name="spylink" type="url" class="form-control" id="spylink" placeholder="Spy image link">
        </div>

        <a id="load" class="btn btn-info">Load to see if they are good links!</a>

        <br>
        <br>
        
        <div class="form-group">
            <label for="msgToMod">Message to the moderators: (Optional)</label>
            <input name="msgToMod" class="form-control" id="msgToMod" placeholder="Message">
        </div>

        <br>


        <button type="submit" class="btn btn-success">Submit</button>
    </form>


</div>

<br>



<script>

$( document ).ready(function() {
    $("#load").on("click", function(e){
        // $("#reslink")[0].value;
        // $("#spylink")[0].value;

        $(".resImg").attr("src", $("#reslink")[0].value);
        $(".spyImg").attr("src", $("#spylink")[0].value);

        var imgdimensions = $(".imgdimensions");

        setInterval(function(){
            for(var i = 0; i < imgdimensions.length; i++){
                console.log(imgdimensions[i].parentElement.children[0]);
        
                var x = imgdimensions[i].parentElement.children[0].clientWidth;
                var y = imgdimensions[i].parentElement.children[0].clientHeight;
        
        
                imgdimensions[i].innerText = x + "x" + y + " px";
            }
        }, 1000);
        

    });
});


</script>




<% include ../partials/footer %>





